/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */

@media only screen and (max-width: 20em){
 .menu-home {font-size: 1.7rem; margin:-1rem 0rem 0rem -1.5rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.5rem; padding: 0.4rem 0.6rem 0rem 0.8rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 20.063em) and (max-width: 22.500em){
 .menu-home {font-size: 1.7rem; margin: -0.5rem 0rem 0rem -1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.5rem; padding: 0.4rem 0.6rem 0rem 0.8rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 22.563em) and (max-width: 30em){
 .menu-home {font-size: 1.7rem; margin:-0.5rem 0rem 0rem -1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.5rem; padding: 0.4rem 0.6rem 0rem 0.4rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 30.063em) and (max-width:40em){
 .menu-home {font-size: 1.8rem; margin:-0.5rem 0rem 0rem -1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.6rem; padding: 0.4rem 0.6rem 0rem 0.4rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em){
 .menu-home {font-size: 1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.6rem; padding: 0.4rem 0.6rem 0rem 0.4rem}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.6rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem; margin-top:0.8rem;}
 #panier {color: #eee; font-size: 1.8rem; margin-top:0.8rem;}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
 .menu-home {font-size: 3rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.8rem; padding: 1.1rem 0.4rem 0.9rem 0.3rem}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.6rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem; margin-top:1.3rem;}
 #panier {color: #eee; font-size: 1.8rem; margin-top:1.3rem;}
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
 .menu-home {font-size: 3.2rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 2.5rem; padding: 0.8rem 0.4rem 0rem 0.8rem}
 #nav-quitter {margin-top: -1rem}
 #nav-connecte {margin-top: -0.8rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 2rem; width: 2rem; margin-top:1.3rem;}
 #panier {color: #eee; font-size: 2rem; margin-top:1.3rem;}
}

/*******************************************************************************/
/*************************          Global     *********************************/

/***************** navBar/backhome focus-Hover *********************************/
#lilmod-home, #nav-quitter, #nav-aide-small, #nav-aide-large, #backhome {color: #eee; cursor: pointer;}
#nav-connecte {color: #eee;}
#backhome {color: #00445b;}

#lilmod-home:hover, #nav-quitter:hover, #nav-aide-small:hover, #nav-aide-large:hover, #backhome:hover,
.menu-home:focus, #nav-quitter:focus, #nav-aide-small:focus, #nav-aide-large:focus,#backhome:focus {color: #E7552C;}
