/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */

@media only screen and (max-width: 20em)
{
 .breadcrumbs a {font-size: 1.3rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.4rem;}
 .breadcrumbs li {color: #da873c; font-size: 1.3rem; font-weight: 700;}
 .breadcrumbs .current { padding: 0.2rem 0rem 0rem 0rem;}
}
@media only screen and (min-width: 20.063em) and (max-width: 22.500em)
{
 .breadcrumbs a {font-size: 1.3rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.4rem;}
 .breadcrumbs li {color: #e68a00; font-size: 1.3rem; font-weight: 700;}
 .breadcrumbs .current { padding: 0.2rem 0rem 0rem 0rem;}
}
@media only screen and (min-width: 22.563em) and (max-width: 30em)
{
 .breadcrumbs a {font-size: 1.3rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.4rem;}
 .breadcrumbs li {color: #da873c; font-size: 1.3rem; font-weight: 700;}
 .breadcrumbs .current { padding: 0.2rem 0rem 0rem 0rem;}
}
@media only screen and (min-width: 30.063em) and (max-width:40em)
{
 .breadcrumbs a {font-size: 1.3rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.6rem;}
 .breadcrumbs li {color: #da873c; font-size: 1.3rem; font-weight: 700;}
 .breadcrumbs .current { padding: 0.49rem 0rem 0rem 0rem;}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em)
{
 .breadcrumbs {background: #efefef;}
 .breadcrumbs a {font-size: 1.4rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.8rem;}
 .breadcrumbs li {color: #da873c; font-size: 1.4rem; font-weight: 700;}
 .breadcrumbs .current { padding: 0.63rem 0rem 0rem 0rem;}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em)
{
 .breadcrumbs {background: #efefef;}
 .breadcrumbs a {font-size: 1.4rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.8rem;}
 .breadcrumbs li {color: #da873c; font-size: 1.4rem; font-weight: 700;}
 .breadcrumbs .current {padding: 0.63rem 0rem 0rem 0rem;}
 }
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
 .breadcrumbs {background: #efefef;}
 .breadcrumbs a {font-size: 1.4rem;}
 .breadcrumbs li:not(:last-child)::after {font-size: 1.8rem;}
 .breadcrumbs li {color: #da873c; font-size: 1.4rem; font-weight: 700;}
 .breadcrumbs .current { padding: 0.63rem 0rem 0rem 0rem;}
}

/*******************************************************************************/
/*************************          Global     *********************************/
.breadcrumbs {padding-left: 1.2rem;}
.breadcrumbs a {color: #00445b;}
.breadcrumbs a:hover, .breadcrumbs a:focus
{text-decoration: none; border-bottom: solid 2px #e03522;}