/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */

@media only screen and (max-width: 20em){
 .logoSite {font-size: 1.8rem; margin: -0.8rem 0rem -0.5rem 0.5rem;}
 .logoTitre{font-size:0.75rem; margin: 0.1rem 0rem 0.5rem 2rem;}
 #personne {font-size: 0.9rem;}
}
@media only screen and (min-width: 20.063em) and (max-width: 22.500em){
 .logoSite {font-size: 1.8rem; margin: -0.8rem 0rem -0.5rem 0.5rem;}
 .logoTitre {font-size:0.75rem; margin: 0.1rem 0rem 0.5rem 2rem;}
 #personne {font-size: 1.2rem;}
}
@media only screen and (min-width: 22.563em) and (max-width: 30em){
 .logoSite {font-size: 2.5em; margin: -0.8rem 0rem -0.5rem 0.5rem;}
 .logoTitre{font-size: 1rem; margin: 0.1rem 0rem 0.5rem 2.5rem}
 #personne {font-size: 1.2rem;}
}
@media only screen and (min-width: 30.063em) and (max-width:40em){
 .logoSite {font-size: 2.5em; margin: -0.8rem 0rem -0.5rem 0.5rem;}
 .logoTitre{margin: 0.1rem 0rem 0.5rem 2.5rem}
 #personne {font-size: 1.2rem;}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em){
 .logoSite {font-size: 3.5rem; margin: -0.8rem 1rem  -0.8rem 1rem}
 .logoTitre{margin: 0rem 0rem 0rem 2.625rem;}
 #personne {font-size: 1.2rem;}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
 .logoSite {font-size: 3.5rem; margin: -1rem 0rem 0rem 0rem}
 .logoTitre{margin: -1.1rem 0rem 1rem 2.625rem;}
 #personne {font-size: 1.2rem;}
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
 .logoSite {font-size: 4.5rem; margin: -1rem 0rem 0rem 0rem}
 .logoTitre{margin: -1.1rem 0rem 1rem 2.625rem;}
 #personne {font-size: 1.2rem;}
}

/*******************************************************************************/
/*************************          Global     *********************************/
#connexion, #inscription, #deconnexion, #menu {color:#00445b; border-color: #00445b; margin-top: 1rem; margin-right: 1rem;}
#connexion:hover, #inscription:hover, #deconnexion:hover, #menu:hover {color:#E7552C; border-color: #E7552C;}

#deconnexion, #menu  {margin-top: 0.3rem; margin-left: 1rem;}
#personne {font-variant: small-caps; padding-right: 1rem; margin-top: 0.7rem}

/*********************************************************************************/
#auth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


 /************************ Accordeon - bouton + ********************************/
#refoua, #leiloui, #hatzlacha {color: #00445b; }
#refoua:focus, #leiloui:focus, #hatzlacha:focus {color: #eee; background-color:#00445b; transition: background-color 1s ease; }
#refoua:hover, #leiloui:hover, #hatzlacha:hover {color: #eee; background-color:#00445b; transition: background-color 1s ease; }
#refoua::before, #leiloui::before, #hatzlacha::before {color: #eee; }

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after
{ border-color: #eee transparent transparent; }

/*********************************** Testimonial ***************************************/
.full-width-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("/images/alphabet-1679750_1920.jpg");
  background-position: center center;
}

.full-width-testimonial-icon .quote-path { fill: none;  stroke: #ffae00;  stroke-width: 2.5192;  stroke-miterlimit: 10;}

.full-width-testimonial-content,
.full-width-testimonial-icon {   text-align: center; }

.full-width-testimonial-section {  padding-top: 2rem; }

.full-width-testimonial-section .full-width-testimonial-text {
  font-weight: 300;  color: #ffffff;  padding-left: 30px;  padding-right: 30px;
  margin-top: -5px;  padding-left: 50px;  padding-right: 50px;   font-size: 1.5em;
}


@media print, screen and (min-width: 20em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
  }
}

@media print, screen and (min-width: 40em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.4em;
  }
}

@media print, screen and (min-width: 64em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 110px;
    padding-right: 110px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 75em) {
  .full-width-testimonial-section .full-width-testimonial-text {
    padding-left: 120px;
    padding-right: 120px;
    font-size: 1.8em;
  }
}

.full-width-testimonial-section .full-width-testimonial-source {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 0.2em;
  font-size: 1.0em;
}

.full-width-testimonial-section .full-width-testimonial-source-context {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}

.full-width-testimonial-section .slick-slider {  margin-bottom: 0px; }

.full-width-testimonial-text,
.full-width-testimonial-content,
.full-width-testimonial-source,
.full-width-testimonial-icon {  padding-bottom: 2rem;}

.full-width-testimonial-content { width: 100%;}
