/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */

@media only screen and (max-width: 20em){
 .titre {font-size:1.3rem;}
 .bulle {font-size:0.8rem;}
 .ezra {font-size: 1.3rem;}
 .OpenSans {font-size: 1.2rem;}
 .DensiaSans {font-size: 1.2rem;}
 /************   Titre d'un fieldset                     **********************/
 .titre-fieldset {font-size:1.3rem;}

 /* taillle du texte des bouton dans utilisé dans les menu */
 .menu-bouton {font-size:1.1rem; font-weight: 700;}
}
@media only screen and (min-width: 20.063em) and (max-width: 22.500em) {
 .titre {font-size:1.4rem;}
 .bulle {font-size:0.8rem;}
 .ezra {font-size: 1.3rem;}
 .OpenSans {font-size: 1.2rem;}
 .DensiaSans {font-size: 1.2rem;}

  /************   Titre d'un fieldset                     **********************/
  .titre-fieldset {font-size:1.3rem;}

  /* taillle du texte des bouton dans utilisé dans les menu */
 .menu-bouton {font-size:1.1rem; font-weight: 700;}
}
@media only screen and (min-width: 22.563em) and (max-width: 30em) {
 .titre {font-size:1.5rem;}
 .bulle {font-size:0.8rem;}
 .ezra {font-size: 1.3rem;}
 .OpenSans {font-size: 1.2rem;}
 .DensiaSans {font-size: 1.2rem;}

  /************   Titre d'un fieldset                     **********************/
 .titre-fieldset {font-size:1.5rem;}

 /* taillle du texte des bouton dans utilisé dans les menu */
 .menu-bouton {font-size:1.1rem; font-weight: 700;}
}
@media only screen and (min-width: 30.063em) and (max-width:40em){
 .titre {font-size:1.5rem;}
 .bulle {font-size:0.8rem;}
 .ezra {font-size: 1.3rem;}
 .OpenSans {font-size: 1.1rem;}
 .DensiaSans {font-size: 1.2rem;}

 /************   Titre d'un fieldset                     **********************/
 .titre-fieldset {font-size:1.5rem;}

 /* taillle du texte des bouton dans utilisé dans les menu */
 .menu-bouton {font-size:1.1rem; font-weight: 700;}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
 .titre {font-size:1.8rem;}
 .bulle {font-size:0.9rem;}
 .ezra {font-size: 1.5rem;}
 .OpenSans {font-size: 1.2rem;}
 .DensiaSans {font-size: 1.2rem;}

   /************   Titre d'un fieldset                     **********************/
 .titre-fieldset {font-size:1.5rem;}

/* taillle du texte des bouton dans utilisé dans les menu */
 .menu-bouton {font-size:1.1rem; font-weight: 700;}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
 .titre {font-size:1.8rem;}
 .bulle {font-size:0.9rem;}
 .ezra {font-size: 1.5rem;}
 .OpenSans {font-size: 1.2rem;}
 .DensiaSans {font-size: 1.2rem;}

  /************   Titre d'un fieldset                     **********************/
  .titre-fieldset {font-size:1.8rem;}

 /* taillle du texte des bouton dans utilisé dans les menu */
 .menu-bouton {font-size:1.1rem; font-weight: 700;}
 }
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
.titre {font-size:1.8rem;}
.bulle {font-size:1rem;}
.ezra {font-size: 1.5rem;}
.OpenSans {font-size: 1.2rem;}
.DensiaSans {font-size: 1.2rem;}

/************   Titre d'un fieldset                     **********************/
.titre-fieldset {font-size:1.8rem;}

/* taillle du texte des bouton dans utilisé dans les menu */
.menu-bouton {font-size:1.1rem; font-weight: 700;}
}

/*******************************************************************************/
/*************************          Global     *********************************/
body {background: #efefef; color : #00445b;}
h1, h2, h3, h4, h5, h6 {color: #00445b;}
h1 {font-family: pNiconne;}
h2,h3,h4,h5,h6 {font-family: pAaargh;}
.bulle {font-family: pAaargh;}
.titre {font-family: pAaargh;}

/* Police lilmod-lelamed --- icones                                           */
.lilmod-info, .lilmod-question02, .lilmod-detail02 {color: #00445b;}

/* Formulaires                                                                */
.form_erreur {color:#e03522;}
.form_erreur ul { font-family: pOpenSans; font-size: 1rem; list-style-type: none;}
.form_label label { font-family: pOpenSans; font-size: 1.2rem; }
 label {font-family: pOpenSans; color: #00445b;}

/*************************** Croix pour sortir *********************************/
/*.close-x {color: #8a8a8a;  margin: -1rem 0.5rem 0rem 0rem; float: right; font-size: 1.8rem; line-height: 1; cursor: pointer; }
 [data-whatinput='mouse'] .close-x {outline: 0; }
.close-x:hover, .close-x:focus {color: #0a0a0a; }*/

/********************* ToolTip  ************************************************/
.tooltip {box-shadow: 4px 4px 9px #888888;}

/******************* Séprarateur ***********************************************/
hr {
    background-color: #aaa; /* fallback color if gradients are not supported */
    border:0;
    height:1px;
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    /* For Firefox (3.6 to 15) */
    background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    /* For old Opera (11.1 to 12.0) */
    background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    /* For old Opera (11.1 to 12.0) */
    background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    /* Standard syntax; must be last */
    background-image:linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    opacity:0.8;
}
/************************ Affiche BH en haut de la page ************************/
.bh, .bh-top-bar {font-family:'pezra_sil'; float:right; font-size:0.8rem;}
.bh {padding-right: 1rem;}

/*********************** cesure, guilletmet ******************/
.cesure {hyphens: auto; -webkit-hyphens: auto; -moz-hyphens: auto;}
q::before {content: "«";}
q::after {content: "»";}

 /******************** Bouton en haut ******************************************/
.pageUP {border-radius:3px; padding:0.4rem; font-size:1rem; text-align:center; color:#fff;
  background:rgba(0, 0, 0, 0.25); z-index:99999; transition:all ease-in 0.2s; position: fixed;
  cursor: pointer; bottom: 1em; right: 0.5rem; display: none;}

.pageUP:before{ font-family: LilMod ; font-size:1.2rem; content: "\e003"; } /*↑*/
.pageUP:hover{background:#00445b;transition:all ease-in 0.2s;}

/******************* icone commune *********************************************/
.question, .sourire, .en, .fr, .he, .livre,
.intervenant, .homme, .femme, .hashtag, .date,
.montre { fill: #00445b;}
.question:hover { fill: #da873c; }
