/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */

@media only screen and (max-width: 20em){
 .menu-home {font-size: 1.7rem; margin:-1rem 0rem 0rem -1.5rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.5rem; padding: 0.4rem 0.6rem 0rem 0.8rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 20.063em) and (max-width: 22.500em){
 .menu-home {font-size: 1.7rem; margin: -0.5rem 0rem 0rem -1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.5rem; padding: 0.4rem 0.6rem 0rem 0.8rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}

}
@media only screen and (min-width: 22.563em) and (max-width: 30em){
 .menu-home {font-size: 1.7rem; margin:-0.5rem 0rem 0rem -1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.5rem; padding: 0.4rem 0.6rem 0rem 0.4rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 30.063em) and (max-width:40em){
 .menu-home {font-size: 1.8rem; margin:-0.5rem 0rem 0rem -1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.6rem; padding: 0.4rem 0.6rem 0rem 0.4rem;}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.5rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem;}
 #panier {color: #eee; font-size: 1.8rem;}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em){
 .menu-home {font-size: 1.8rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.6rem; padding: 0.4rem 0.6rem 0rem 0.4rem}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.6rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem; margin-top:0.8rem;}
 #panier {color: #eee; font-size: 1.8rem; margin-top:0.8rem;}
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
 .menu-home {font-size: 3rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 1.8rem; padding: 1.1rem 0.4rem 0.9rem 0.3rem}
 #nav-quitter {margin-top: -0.6rem}
 #nav-connecte {margin-top: -0.6rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 1.8rem; width: 1.8rem; margin-top:1.3rem;}
 #panier {color: #eee; font-size: 1.8rem; margin-top:1.3rem;}
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
 .menu-home {font-size: 3.2rem;}
 #nav-connecte, #nav-quitter, #nav-aide-small, #nav-aide-large {font-size: 2.5rem; padding: 0.8rem 0.4rem 0rem 0.8rem}
 #nav-quitter {margin-top: -1rem}
 #nav-connecte {margin-top: -0.8rem}
/* Caddy*/
 #svg-panier {fill: #eee; height: 2rem; width: 2rem; margin-top:1.3rem;}
 #panier {color: #eee; font-size: 2rem; margin-top:1.3rem;}

}

/*******************************************************************************/
/*************************          Global     *********************************/

/***************** navBar/backhome focus-Hover *********************************/
#lilmod-home, #nav-quitter, #nav-aide-small, #nav-aide-large, #backhome {color: #eee; cursor: pointer;}
#nav-connecte {color: #eee;}

#backhome, #backmenu {color: #00445b;}

#lilmod-home:hover, #nav-quitter:hover,
#nav-aide-small:hover, #nav-aide-large:hover,
#backhome:hover,
.menu-home:focus, #nav-quitter:focus,
#nav-aide-small:focus, #nav-aide-large:focus,
#backhome:focus  {color: #E7552C;}

#backmenu:hover, #backmenu:focus {color: #E7552C;}

/*SVG*/
.svg-play, .svg-update, .svg-delete { cursor: pointer; width:2.5rem; height:2.5rem; fill: #00445b; padding-left:1rem; padding-top: 0.5rem;}
.svg-play:hover, .svg-update:hover { fill: green; }
.svg-delete:hover { fill: red; }

/****** page de recherche **********************/
.svg-ajouter { float:right; cursor: pointer; width:2.5rem; height:2.5rem; fill: #00445b; padding-left:1rem; padding-top: 0.5rem;}
.svg-ajouter:hover, .svg-ajouter:focus { fill: #E7552C; }
.svg-ajouter-ok { fill: green; cursor: not-allowed;}
#ajouter {margin-top: 7px;}

.svg-livre, .svg-intervenant, .svg-homme, .svg-femme, .svg-hashtag, .svg-date, .svg-montre, .svg-details
{fill:#00445b; margin-bottom: -1px;}
.svg-livre {margin-bottom: -4px;}
.svg-montre {margin-bottom: -7px;}

.svg-details:hover, .svg-details:focus {fill: #E7552C;}

/*Pays*/
.pays {height: 28px;}

/********************* Table responsive *******************************************/
.responsive-card-table { border-collapse: collapse; }
.responsive-card-table.unstriped tbody { background-color: transparent; }
.responsive-card-table th { background-color: #e6e6e6; }

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td { border: 1px solid #0a0a0a; }

@media screen and (max-width: 640px) {
  .responsive-card-table {}
  .responsive-card-table thead tr { position: absolute; top: -9999em; left: -9999em; }
  .responsive-card-table tr { border: 1px solid #0a0a0a; display: block; }
  .responsive-card-table tr + tr { margin-top: 1.5rem; }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}


.card-info {
  background: #fefefe;
  border: 1px solid #8a8a8a;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 0;
}

.card-info .card-info-label {
  border-color: transparent #8a8a8a transparent transparent;
  border-color: rgba(255, 255, 255, 0) #8a8a8a rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.primary {
  border-color: #1779ba;
}

.card-info.primary .card-info-label {
  border-color: transparent #1779ba transparent transparent;
  border-color: rgba(255, 255, 255, 0) #1779ba rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.secondary {
  border-color: #767676;
}

.card-info.secondary .card-info-label {
  border-color: transparent #767676 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #767676 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.info {
  border-color: #37a0e6;
}

.card-info.info .card-info-label {
  border-color: transparent #37a0e6 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #37a0e6 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.alert {
  border-color: #cc4b37;
}

.card-info.alert .card-info-label {
  border-color: transparent #cc4b37 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #cc4b37 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info.warning {
  border-color: #ffae00;
}

.card-info.warning .card-info-label {
  border-color: transparent #ffae00 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #ffae00 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.card-info .card-info-label {
  border-style: solid;
  border-width: 0 4.375rem 2.5rem 0;
  float: right;
  height: 0px;
  width: 0px;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card-info .card-info-content {
  padding: 0.5rem 1.5rem 0.875rem;
}

.card-info .card-info-label-text {
  color: #fefefe;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -2.5rem;
  top: 2px;
  white-space: nowrap;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}