/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */

@media only screen and (max-width: 20em)
{
 #lilmod-small  {font-size: 1.8em;}
 #facebook, #googleplus, #twitter, #mel {width: 1.4rem; height: 1.4rem;}
 .social-icon {margin-top:0.8rem}
 .links div {font-size: 0.8rem;}
 .copyright {font-size: 0.75rem;}
 .cc {font-size: 0.8rem;}
}

/************************* 320 - 360             ******************************/
@media only screen and (min-width: 20.063em) and (max-width: 22.500em)
{
 #lilmod-small  {font-size: 1.8em;}
 #facebook, #googleplus, #twitter, #mel {width: 1.4rem; height: 1.4rem;}
 .social-icon {margin-top:0.8rem}
 .links div {font-size: 0.90rem; }
 .copyright {font-size: 0.85rem;}
 .cc {font-size: 0.8rem;}
}

/*********************** 360 - 480 iphone 6s  *********************************/
@media only screen and (min-width: 22.563em) and (max-width: 30em)
{
 #lilmod-small {font-size: 2.7rem;}
 #facebook, #googleplus, #twitter, #mel {width: 1.8rem; height: 1.8rem;}
 .social-icon {margin-top:1.1rem}
 .links div {font-size: 1.1rem; padding-left: 0.5rem; }
 .copyright {font-size: 0.95rem;}
 .cc {font-size: 0.8rem;}
}

/**********************          MEDIUM        ********************************/
/*********************** 436 - 622     ****************************************/
@media only screen and (min-width: 30.063em) and (max-width:40em)
{
 #lilmod-small {font-size: 2.7rem;}
 #facebook, #googleplus, #twitter, #mel {width: 2.1rem; height: 2.1rem;}
 .social-icon {margin-top:1.2rem}
 .links div {font-size: 1.3rem; }
 .copyright {font-size: 1rem;}
 .cc {font-size: 0.9rem;}
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
 #lilmod-large {font-size: 3rem;}
 #facebook, #googleplus, #twitter, #mel {width: 2.1rem; height: 2.1rem;}
 .social-icon {margin-top:1.2rem}
 .links div {font-size: 1.2rem; }
 .copyright {font-size: 1rem;}
 .cc {font-size: 1rem;}
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
 #lilmod-large {font-size: 3.5rem;}
 #facebook, #googleplus, #twitter, #mel {width: 2.5rem; height: 2.5rem;}
 .social-icon {margin-top:1.3rem}
 .links div {font-size: 1.4rem;}
 .footer p.copyright {font-size: 1rem;}
 .cc {font-size: 1.1rem;}
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
 #lilmod-large {font-size: 3.5rem;}
 #facebook, #googleplus, #twitter, #mel {width: 2.5rem; height: 2.5rem;}
 .social-icon {margin-top:1.2rem}
 .links div {font-size: 1.4rem;}
 .footer p.copyright {font-size: 1rem;}
 .cc {font-size: 1.1rem;}
}

/*******************************************************************************/
/*************************          Global     *********************************/
/*************************          Footer     *********************************/

.footer { background-color: #00445b;}

/********************** Footer - Bloc Titre ************************************/
#lilmod-large, #lilmod-small {color: #f2f2f2;}
#lilmod-large:hover, #lilmod-small:hover,
#lilmod-large:focus, #lilmod-small:focus {opacity: 0.4; filter: alpha(opacity=40);}

/********************* Footer - Bloc Informations ******************************/
.links {text-transform: uppercase; font-weight: 700; }
.links div a {color: #cccccc;}
.links div a:hover {color: #949494;}

/*********************** Footer - Bloc CopyRight *******************************/
.copyright {color: #cccccc;}

/****************************** Footer Social **********************************/
#googleplus:hover {fill: #e03522; transition: all 0.4s linear 0s;}
#twitter:hover {fill: #00ace4; transition: all 0.4s linear 0s;}
#facebook:hover {fill: #588ed0; transition: all 0.4s linear 0s;}
#mel:hover {fill:#ff0; transition: all 0.4s linear 0s;}
#facebook, #googleplus, #twitter, #mel {fill: #fff;}