/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
@charset "UTF-8";
/************************************ initialialisation par defaut ****************************/
/************* References *********************************************************************/
/* http://fr.wikipedia.org/wiki/Graisse_%28typographie%29                                     */
/* https://everythingfonts.com/                                                               */
@font-face {
    font-family:'pAaargh';
        src: url("/fonts/Aaargh/Aaargh.eot");
	src: url("/fonts/Aaargh/Aaargh.eot#iefix") format("embedded-opentype"),
        url('/fonts/Aaargh/Aaargh.woff2') format('woff2'),
        url('/fonts/Aaargh/Aaargh.woff') format('woff'),
        url('/fonts/Aaargh/Aaargh.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}
.Aaargh {font-family:'pAaargh';}

@font-face {
    font-family: 'pOpenSans';
    src: url('/fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('/fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pOpenSans';
    src: url('/fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('/fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('/fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'pOpenSans';
    src: url('/fonts/OpenSans/OpenSans-ExtraBold-webfont.eot');
    src: url('/fonts/OpenSans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('/fonts/OpenSans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('/fonts/OpenSans/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}
.OpenSans {font-family:'pOpenSans';}

@font-face {
    font-family:'pDensiaSans';
        src: url("/fonts/Densia/DensiaSans.eot");
	src: url("/fonts/Densia/DensiaSans.eot#iefix") format("embedded-opentype"),
        url('/fonts/Densia/DensiaSans.woff2') format('woff2'),
        url('/fonts/Densia/DensiaSans.woff') format('woff'),
        url('/fonts/Densia/DensiaSans.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}
.DensiaSans {font-family:'pDensiaSans';}

@font-face {
    font-family:'pNiconne';
        src: url("/fonts/Niconne/Niconne-Regular.eot");
	src: url("/fonts/Niconne/Niconne-Regular.eot#iefix") format("embedded-opentype"),
        url('/fonts/Niconne/Niconne-Regular.woff2') format('woff2'),
        url('/fonts/Niconne/Niconne-Regular.woff') format('woff'),
        url('/fonts/Niconne/Niconne-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}
.Niconne {font-family:'pNiconne';}

/************* Lettres + Nikkud + Cantillation + T'aamim *******************************************/
/* Ezra SIL/SR (SIL v.2.51)                                                                        */
/* EZRA SIL International version 2.5.1                                                            */
/*http://scripts.sil.org/cms/scripts/page.php?item_id=EzraSIL_home                                 */
@font-face {
    font-family:'pezra_sil';
        src: url("/fonts/SIL/SILEOTF.eot");
	src: url("/fonts/SIL/SILEOTF.eot#iefix") format("embedded-opentype"),
        url('/fonts/SIL/SILEOTF.woff2') format('woff2'),
        url('/fonts/SIL/SILEOTF.woff') format('woff'),
        url('/fonts/SIL/SILEOTF.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}
.ezra {font-family:'pezra_sil';}

/************* Lettres + nikkud + Cantillon - T'aamim    *******************************************/
/* Mekorot Vilna (Mekorot/Makor)                                                                   */
/* Mekorot Rashi (Mekorot/Makor, fixed and adjusted by Yoram Gnat, Culmus Project)                 */
/* ShalomScript - cursif                                                                           */
/* Dorian - lamed couché                                                                           */


/*************************** Font LilMod ***************************************/
@font-face {
	font-family: "LilMod";
        src: url("/fonts/LilMod.eot");
	src: url("/fonts/LilMod.eot#iefix") format("embedded-opentype"),
        url("/fonts/LilMod.woff2") format("woff2"),
        url("/fonts/LilMod.woff") format("woff"),
	url("/fonts/LilMod.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
[class^="lilmod-"]:before, [class*=" lilmod-"]:before,
[class^="lilmod-"]:after, [class*=" lilmod-"]:after
{
  font-family: 'LilMod';
}
/*** Pagination                   ***/
.lilmod-adjust01:before {content: "\e000";}
.lilmod-adjust02:before {content: "\e001";}
.lilmod-adjust03:before {content: "\e002";}
.lilmod-en-haut:before {content: "\e003";}
.lilmod-en-bas:before {content: "\e004";}
.lilmod-a-gauche:before {content: "\e116";}
.lilmod-a-droite:before {content: "\e117";}

/*** Réseau sociaux                ***/
.lilmod-at:before {content: "\e006";}
.lilmod-mel01:before {content: "\e007";}
.lilmod-mel02:before {content: "\e008";}
.lilmod-facebook01:before {content: "\e009";}
.lilmod-facebook02:before {content: "\e010";}
.lilmod-twitter01:before {content: "\e011";}
.lilmod-twitter02:before {content: "\e012";}
.lilmod-twitter03:before {content: "\e013";}
.lilmod-google01:before {content: "\e014";}
.lilmod-google02:before {content: "\e015";}

/*** Navigateur                    ***/
.lilmod-firefox:before {content: "\e016";}
.lilmod-iexplorer:before {content: "\e017";}
.lilmod-safari:before {content: "\e018";}
.lilmod-chrome:before {content: "\e019";}
.lilmod-opera:before {content: "\e020";}

/*** Responsive design              ***/
.lilmod-responsive-design:before {content: "\e021";}
.lilmod-ordinateur:before {content: "\e022";}
.lilmod-portable:before {content: "\e023";}
.lilmod-tablette:before {content: "\e024";}
.lilmod-smartphone:before {content: "\e025";}
.lilmod-gsm:before {content: "\e026";}

/*** Langage                        ***/
.lilmod-html5:before {content: "\e027";}
.lilmod-html:before {content: "\e028";}
.lilmod-css:before {content: "\e029";}
.lilmod-php:before {content: "\e030";}
.lilmod-java:before {content: "\e031";}
.lilmod-sql:before {content: "\e032";}
.lilmod-pdf:before {content: "\e033";}
.lilmod-CreativeCommon:before {content: "\e034";}
.lilmod-w3c:before {content: "\e035";}
.lilmod-freepik:before {content: "\e106";}

/*** Jeux                         ***/
.lilmod-podium:before {content: "\e036";}
.lilmod-medaille01:before {content: "\e037";}
.lilmod-coupe:before {content: "\e038";}
.lilmod-morpion:before {content: "\e039";}
.lilmod-manette:before {content: "\e040";}
.lilmod-diplome:before {content: "\e041";}
.lilmod-medaille02:before {content: "\e042";}
.lilmod-premier:before {content: "\e043";}
.lilmod-deuxieme:before {content: "\e044";}
.lilmod-troisiemme:before {content: "\e045";}
.lilmod-puzle:before {content: "\e046";}
.lilmod-quizz:before {content: "\e118";}
.lilmod-score:before {content: "\e119";}
.lilmod-chronos:before {content: "\e120";}

/*** Personnes                        ***/
.lilmod-genre-mixte:before {content: "\e047";}
.lilmod-genre-garcon:before {content: "\e048";}
.lilmod-genre-fille:before {content: "\e049";}
.lilmod-vetement-fille:before {content: "\e050";}
.lilmod-vetement-garcon:before {content: "\e105";}
.lilmod-tete-fille:before {content: "\e051";}
.lilmod-tete-garcon:before {content: "\e052";}
.lilmod-sourire:before {content: "\e053";}

/*** Boutons                        ***/
.lilmod-maj:before {content: "\e054";}
.lilmod-croix:before {content: "\e055";}
.lilmod-stop01:before {content: "\e056";}
.lilmod-stop02:before {content: "\e057";}
.lilmod-play:before {content: "\e058";}
.lilmod-pause:before {content: "\e059";}
.lilmod-retour01:before {content: "\e060";}
.lilmod-retour02:before {content: "\e061";}
.lilmod-reseau:before {content: "\e062";}
.lilmod-sortie:before {content: "\e063";}
.lilmod-chrono24:before {content: "\e064";}
.lilmod-rafraichir:before {content: "\e065";}
.lilmod-rechercher:before {content: "\e124";}

/*** Configurations                   ***/
.lilmod-config01:before {content: "\e066";}
.lilmod-config02:before {content: "\e067";}
.lilmod-detail01:before {content: "\e068";}
.lilmod-detail02:before {content: "\e069";}
.lilmod-outil:before {content: "\e115";}

/*** Etudes et Equipes                 ***/
.lilmod-etude:before {content: "\e070";}
.lilmod-journal:before {content: "\e071";}
.lilmod-equipe01:before {content: "\e072";}
.lilmod-equipe02:before {content: "\e073";}
.lilmod-livre01:before {content: "\e074";}
.lilmod-livre02:before {content: "\e075";}
.lilmod-livre03:before {content: "\e076";}
.lilmod-epingler:before {content: "\e077";}
.lilmod-link:before {content: "\e078";}

/*** Divers                          ***/
.lilmod-pasapas:before {content: "\e079";}
.lilmod-hello:before {content: "\e080";}
.lilmod-id:before {content: "\e081";}
.lilmod-info:before {content: "\e082";}
.lilmod-news:before {content: "\e083";}
.lilmod-disquette:before {content: "\e084";}
.lilmod-nuage:before {content: "\e085";}
.lilmod-cible:before {content: "\e086";}
.lilmod-ampoule:before {content: "\e087";}
.lilmod-lampe:before {content: "\e088";}
.lilmod-soleil:before {content: "\e089";}
.lilmod-hautparleur:before {content: "\e107"}
.lilmod-nuit:before {content: "\e108"}
.lilmod-crepuscule:before {content: "\e109"}
.lilmod-jour:before {content: "\e110"}
.lilmod-calendrier:before {content: "\e111"}
.lilmod-question01:before {content: "\e112"}
.lilmod-question02:before {content: "\e113"}
.lilmod-statistique:before {content: "\e114"}

/*** Lettres                         ***/
.lilmod-alef-ezra:before {content: "\e090";}
.lilmod-alef-rashi:before {content: "\e091";}
.lilmod-rech-rashi:before {content: "\e092";}
.lilmod-tav-rashi:before {content: "\e093";}
.lilmod-abc:before {content: "\e094";}
.lilmod-123:before {content: "\e095";}
.lilmod-ap:before {content: "\e096";}
.lilmod-am:before {content: "\e097";}
.lilmod-fr:before {content: "\e121";}
.lilmod-en:before {content: "\e122";}
.lilmod-he:before {content: "\e123";}

/*** Religion                          ***/
.lilmod-fete-menorah:before {content: "\e098";}
.lilmod-fete-chabbat:before {content: "\e099";}
.lilmod-fete-choffar:before {content: "\e100";}
.lilmod-fete-pourim:before {content: "\e101";}
.lilmod-fete-torah:before {content: "\e102";}
.lilmod-fete-hanouka:before {content: "\e103";}
.lilmod-fete-matan-tora:before {content: "\e104";}

/*********************************** Fin de l'initialisation ***********************************/
