{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'TorahCast' %}
{% set description = 'TorahCast, Permier sit de Torah en streaming' %}
<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig') }}
    {% stylesheets
        '@TorahCastBundle/Resources/public/css/app-portail.css'
        output='/css/portail.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>
{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl">ב''ה</div></div>
 <div class="cell">
   <h1 class="logoSite float-left"><b>TorahCast</b></h1>
 </div>
 <div class="cell">
  <span class="show-for-small-only logoTitre"><em>La Torah en Direct</em></span>
  <span class="show-for-medium logoTitre"><em>Premier site de Torah en Direct</em></span>
 </div>
 <div class="cell">
 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
   <span class="OpenSans float-right" id="personne"> {{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}</span>
   <a href="{{ path('fos_user_security_logout') }}" rel="nofollow">
     <button id="deconnexion" class="hollow button">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</button>
   </a>
   <a href="{{ path('menu') }}" rel="nav">
     <button id="menu" class="hollow button">{{ 'menu.menu'|trans({}, 'TorahCastBundle') }}</button>
   </a>

{% else %}
  <div class="grid-container grid-containergrid-x " id="auth">
   <a href="{{ path('fos_user_security_login') }}" rel="nofollow">
     <button id="connexion" class="hollow button">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button>
   </a>
   <a href="{{ path('fos_user_registration_register') }}" rel="nofollow">
    <button id="inscription" class="hollow button">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</button>
   </a>
  </div>
  {% endif %}
 </div>
</header>
<div class="full-width-testimonial">
  <div class="full-width-testimonial-section">
    <div class="full-width-testimonial-icon text-center">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="41px" height="34px" viewBox="-235 240 41 34" style="enable-background:new -235 240 41 34;" xml:space="preserve">
          <path class="quote-path" d="M-231.3,260.4c0-5,1.3-8.8,3.7-11.7c2.4-2.8,6-4.6,10.5-5.5v5c-3.5,1-6,2.8-7.1,5.5c-0.7,1.4-0.9,2.8-0.8,4
            h8.1v12.8h-14.4V260.4z"/>
          <path class="quote-path" d="M-212,260.4c0-5,1.3-8.8,3.7-11.7c2.4-2.8,6-4.6,10.5-5.5v5c-3.5,1-6,2.8-7.1,5.5c-0.7,1.4-0.9,2.8-0.8,4h8.1
            v12.8H-212V260.4z"/>
      </svg>
    </div>
    <div class="full-width-testimonial-content">
      <h5 class="full-width-testimonial-text">
        Mais si l’école est complètement dénuée de religiosité, à D.ieu ne plaise, il lui manque ce qui,
        en particulier dans notre génération, compte parmi les premières fonctions de l’école :
        éduquer l’élève à être un être humain digne de ce nom, à savoir distinct de l’animal.
      </h5>
      <p class="full-width-testimonial-source">Rabbi Mena'hem Mendel Schneerson</p>
      <span class="full-width-testimonial-source-context">Lettres du Rabbi de Loubavitch, 2 Eloul 5723 [22 août 1963]</span>
    </div>
  </div>
</div>

{#********** Revenir en haut de page ***************#}
<div class="pageUP"></div>

<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>

{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>