{% block footer %}
<div class="footer" role="contentinfo">
  {# ************************   Home + Social             ************************** #}
  <div id="home-social" class="grid-container grid-container-padded">
   <div class="show-for-medium"><br /><br /></div>
   <div class="grid-x">
       <a id="lilmod-large" class="small-6 cell show-for-medium Niconne" href="{{ path('menu') }}">TorahCast</a>
       <a id="lilmod-small" class="small-6 cell show-for-small-only Niconne" href="{{ path('menu') }}">TCast</a>

       <div class="auto cell social-icon">
         <a href="https://plus.google.com/torahcast">
           <span>
            <svg id="googleplus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M531 353c0 18-1 48-24 71-16 16-42 28-67 28-85 0-123-109-123-175 0-26 5-51 22-73 16-20 43-33 69-33 82 0 123 111 123 182zm-53 259c75 53 108 80 108 130 0 61-51 106-145 106-105 0-173-50-173-120s62-94 84-102c41-14 95-15 104-15 10 0 14 0 22 1zM512 0c283 0 512 229 512 512s-229 512-512 512S0 795 0 512 229 0 512 0zM393 890c169 0 258-94 258-187 0-68-39-102-82-138l-35-27c-11-9-26-21-26-43s14-35 27-48c41-32 83-67 83-140 0-75-47-114-70-133h61l64-40H479c-53 0-130 13-186 59-42 36-63 87-63 132 0 77 60 155 164 155 10 0 20-1 31-2-5 12-10 21-10 38 0 31 16 49 30 67-44 3-127 8-188 45-58 35-76 86-76 121 0 73 69 141 212 141zm424-390h99v-49h-99v-99h-49v99h-98v49h98v99h49v-99z"/></svg>         </span>
           <span class="show-for-large" style="color:#eee; font-size:1rem;">google+</span>
         </a>
       </div>
       <div class="auto cell social-icon">
          <a id="twitter" href="https://www.twitter.com/torahcast" >
            <span>
              <svg id="twitter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M512 0c283 0 512 229 512 512s-229 512-512 512S0 795 0 512 229 0 512 0zm294 361c30-22 56-49 76-79-27 12-56 20-87 24 31-19 56-49 67-84-29 17-62 30-97 37-28-30-67-48-111-48-84 0-151 68-151 152 0 12 0 24 3 35-126-6-237-67-312-159-13 22-21 48-21 76 0 53 26 100 67 127-25-1-48-8-68-19v2c0 74 53 134 122 148-13 3-26 6-40 6-10 0-20-1-29-3 19 60 76 104 142 105-52 41-118 65-189 65-12 0-24-1-36-2 67 43 147 68 233 68 279 0 432-230 432-431 0-7-1-13-1-20z"/></svg>            </span>
            <span class="show-for-large" style="color:#eee; font-size:1rem;">twitter</span>
          </a>
      </div>
      <div class="auto cell social-icon">
          <a href="https://www.facebook.com/torahcast">
            <span>
              <svg id="facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M512 0c283 0 512 229 512 512s-229 512-512 512S0 795 0 512 229 0 512 0zm195 261V136H604c-102 0-172 62-172 176v99H317v134h115v343h138V545l110 4 23-138H570v-85c0-39 11-65 67-65h70z"/></svg>
            </span>
            <span class="show-for-large" style="color:#eee; font-size:1rem;">facebook</span>
          </a>
      </div>
      <div class="auto cell social-icon">
          <a id="mel" href="{{ path('Contact') }}">
            <span>
              <svg id="mel" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M933 914H91q-33 0-59-23l290-290q3 2 10 7.5t10 7.5q35 25 53 37 25 16 54 28 34 14 62 14h2q28 0 62-14 29-12 54-28 18-12 53-37 6-5 20-15l290 290q-26 23-59 23zM58 419q140 95 198 136L0 810V369q27 30 58 50zm909 0q32-22 57-50v441L768 555q32-23 199-136zm-34-309q38 0 64 26 27 27 27 65 0 46-28 86-32 45-70 71-101 69-209 145-10 7-23 16t-21.5 14.5T659 543l-9 6-15 12q-7 5-17 11.5t-14 9.5q-9 7-30 19-18 10-33 15-20 6-28 6h-2q-8 0-28-6-15-5-33-15-21-12-30-19-4-3-14-9.5T389 561q-9-8-15-12l-9-6q-55-38-58-40-8-5-40-27.5T215 439L98 358q-32-21-67-66-31-39-31-78 0-45 24-75 23-29 67-29h842z"/></svg>
            </span>
            <span class="show-for-large" style="color:#eee; font-size:1rem;">mél</span>
          </a>
      </div>
   </div>
  </div>
  <br />
  {# ************************   liste de liens           ************************* #}
 <div id="informations" class="grid-container grid-container-padded">
  <div class="text-center grid-x grid-margin-x links">
    <div id="information" class="cell auto">
      <a class="show-for-medium" rel="tag" href="{ path('Information') }}">Information
        <span id="contact" class="show-for-medium"> &amp; Contact</span>
      </a>
      <a  class="show-for-small-only" rel="tag" href="{ path('Information') }}">Infos</a>
    </div>

    <div id="mention" class="cell auto">
      <a class="show-for-medium" rel="tag" href="{ path('MentionLegale') }}">Mentions Légales</a>
      <a  class="show-for-small-only" rel="tag" href="{ path('MentionLegale') }}">Mentions</a>
    </div>

    <div id="cgu" class="cell auto">
            <a  class="show-for-medium" rel="tag" href="{ path('ConditionGenerale') }}">Conditions Générales</a>
            <a  class="show-for-small-only" rel="tag" href="{ path('ConditionGenerale') }}">CGU</a>
    </div>

    <div id="cookie" class="cell auto">
      <a rel="tag" href="{ path('RGPD') }}">RGPD</a>
    </div>
  </div>
 </div>

<div class="show-for-small-only"><br /></div>
<div class="show-for-medium"><br /><br /></div>

 <div class="grid-x OpenSans" style="color:#eee;">
   <div class="grid-container cc">
    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">TorahCast</span>
    est distribuée par l'Association
    <a xmlns:cc="http://creativecommons.org/ns#"
       href="https://lilmod-lelamed.fr"
       property="cc:attributionName"
       rel="cc:attributionURL" style='color:#E7552C;'>Lilmod & Lelamed
    </a>selon les termes de la licence
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <span class="show-for-small-only" style="color:#E7552C;">CC 4.0 International</span>
      <span class="show-for-medium" style="color:#E7552C;">Creative Commons 4.0 International</span>
    </a> Attribution -  Partage dans les mêmes Conditions.
    <br /><br />
   </div>
 </div>

  <div class="grid-x text-center float-center">
   <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Licence Creative Commons" style="border-width:0"
         src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
   </a>
  </div>

 <div id="copyright" class="grid-x">
  {% set copyright=2018 %}
   <p class="copyright cell text-center">&nbsp;&nbsp;©
     {%if copyright == dateCopyright %} {{copyright}}  {%else%} {{ copyright }}-{{dateCopyright }}
     {%endif%} TorahCast. Version {% if version is null %} 0.770 {% else %} {{ version }}{% endif %}</p>
 </div>

</div>
{% endblock %}
