{# src/Resources/views/head.html.twig #}
{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {#/////////// Titre de la page /////////////////////////////// #}
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %}TorahCast</title>

    {#  //////////////// informations générales ///////////////////// #}
    <meta name="robots" content="noodp,noydir"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="copyright" content="TorahCast. Copyright (c) 2018"/>


    {# ////////////////// réseaux sociaux //////////////////////////////// #}
    <meta property="og:image" content="http://torahcast.com{{ asset('/images/static/ico/og-image.jpg') }}">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:site_name" content="TorahCast" />
    <meta property="article:publisher" content="https://www.facebook.com/torahcast" />

    {#////////////////// Déclaration de la Card Twitter ///////////////////////#}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:title" content="{{ page_title }}" />
    <meta name="twitter:url" content="/twitter-cards" />
    <meta name="twitter:site" content="@torahcast" />
    <meta name="twitter:creator" content="@torahcast" />
{% endblock %}


    {# //////////////// Déclaration des icones pour IOS ////////////////// #}
    <link type="image/x-icon" href="{{ asset('/favicon.ico') }}" rel="icon" />

    {# //////////////// Déclaration des icones pour IOS ////////////////// #}
    <link type="image/png" href="{{ asset('/images/static/ico/favicon-32x32.png') }}" rel="icon" sizes="32x32" />
    <link type="image/png" href="{{ asset('/images/static/ico/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180" />

    {# //////////////// Déclaration des icones pour ANDROID ////////////////// #}
    <link type="image/png" href="{{ asset('/images/static/ico/android-chrome-192x192.png') }}" rel="icon" sizes="192x192" />
    <link type="image/png" href="{{ asset('/images/static/ico/favicon-16x16.png') }}" rel="icon" sizes="16x16" />


    {# //////////////// icone Mac OS X ////////////////////////////////////////#}
    <link  href="{{asset('/images/static/ico/safari-pinned-tab.svg') }}"  rel='mask-icon' color='#00445b' />

    {# ///////////////// Declaration pour les desktop & MS ////////////////////#}
    <meta name="apple-mobile-web-app-title" content="TorahCast">
    <meta name="application-name" content="TorahCast">
    <meta name="msapplication-TileColor" content="#00445b">
    <meta name="msapplication-TileImage" content="{{ asset('/images/static/ico/mstile-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">


    {# Manifest #}
    <link rel="manifest" href="/manifest.json">

    <link href="{{ app.request.uri }}" rel="canonical" />

{#////////////// Chargement des CSS  ////////////////////////////// #}
{% stylesheets
        '@TorahCastBundle/Resources/public/css/foundation/foundation.min.css'
        '@TorahCastBundle/Resources/public/css/foundation/motion-ui.min.css'
        '@TorahCastBundle/Resources/public/css/app-common.css'
        '@TorahCastBundle/Resources/public/css/app-footer.css'
        output='/css/common.css'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}

{% stylesheets  '@TorahCastBundle/Resources/public/css/police.css' output='/css/police.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}

{# //////////////// Loader PACE  ////////////////// #}
<script>
window.paceOptions = { document: true,
                       eventLag: true,
                       restartOnPushState: true,
                       restartOnRequestAfter: true,
                       ajax: { trackMethods: [ 'POST','GET'] }};
</script>

{% javascripts '@TorahCastBundle/Resources/public/js/pace/pace.js' output='/js/pace.js' %}
  <script type="text/javascript"  src="{{ asset_url }}"></script>
{% endjavascripts %}

{% stylesheets '@TorahCastBundle/Resources/public/css/pace-theme-line.css' output='/css/pace-theme-line.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
