<div class="title-bar" style="background-color: #00445b; color: #eee;" data-responsive-toggle="menu" data-hide-for="medium">
   <button class="menu-icon" type="button" data-toggle></button>
   <div class="title-bar-title">Menu</div>
</div>
<div class="top-bar" id="menu" style="background-color: #00445b; padding-bottom: 0px;padding-top: 0px;">
   <div class="top-bar-left">
    <ul class="menu" style="font-family:pDensiaSans; background-color: #00445b; ">
        <li class="menu-text" style="padding-top: 0px;padding-bottom: 0px;">
            <h1 class="menu-home">
                <a id="lilmod-home" href="{{ path('menu') }}">TorahCast</a>
            </h1>
        </li>
        <li class="menu-text" style="padding-top: 0px;padding-bottom: 0px;">

          <?xml version="1.0" encoding="iso-8859-1"?>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               version="1.1" id="svg-panier" x="0px" y="0px" viewBox="0 0 435.104 435.104"
               style="enable-background:new 0 0 435.104 435.104;" width="20px" height="20px"
               xml:space="preserve">
               <g>
                 <circle cx="154.112" cy="377.684" r="52.736"/>
                 <path d="M323.072,324.436L323.072,324.436c-29.267-2.88-55.327,18.51-58.207,47.777c-2.88,29.267,18.51,55.327,47.777,58.207     c3.468,0.341,6.962,0.341,10.43,0c29.267-2.88,50.657-28.94,47.777-58.207C368.361,346.928,348.356,326.924,323.072,324.436z"/>
                 <path d="M431.616,123.732c-2.62-3.923-7.059-6.239-11.776-6.144h-58.368v-1.024C361.476,54.637,311.278,4.432,249.351,4.428     C187.425,4.424,137.22,54.622,137.216,116.549c0,0.005,0,0.01,0,0.015v1.024h-43.52L78.848,50.004     C77.199,43.129,71.07,38.268,64,38.228H0v30.72h51.712l47.616,218.624c1.257,7.188,7.552,12.397,14.848,12.288h267.776     c7.07-0.041,13.198-4.901,14.848-11.776l37.888-151.552C435.799,132.019,434.654,127.248,431.616,123.732z M249.344,197.972     c-44.96,0-81.408-36.448-81.408-81.408s36.448-81.408,81.408-81.408s81.408,36.448,81.408,81.408     C330.473,161.408,294.188,197.692,249.344,197.972z"/>
                 <path d="M237.056,118.1l-28.16-28.672l-22.016,21.504l38.912,39.424c2.836,2.894,6.7,4.55,10.752,4.608     c3.999,0.196,7.897-1.289,10.752-4.096l64.512-60.928l-20.992-22.528L237.056,118.1z"/>
                  </g>
           </svg>
           <span id="panier" class="OpenSans" data-panier="0">0</span>
        </li>
     </ul>
   </div>
 <div class="top-bar-right">
  <ul class="menu" style="font-family:pDensiaSans; background-color: #00445b;">
   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
   <li id="nav-connecte"> {{ app.user.prenom|capitalize }} {{ app.user.nom|capitalize }}</li>
   {% endif %}
   <li class="show-for-small-only">
       <a  rel="tag" id="nav-aide-small" href="{{ path('menu') }}">{% trans from "TorahCastBundle" %}navbar.aide{% endtrans %}</a>
   </li>
   <li class="show-for-medium">
       <a  rel="tag" id="nav-aide-large" href="{{ path('menu') }}">{% trans from "TorahCastBundle" %}navbar.aidezmoi{% endtrans %}</a>
   </li>
   <li id="nav-quitter" data-toggle="quitter" class="lilmod-stop02"></li>
  </ul>
 </div>
</div>
<br />

<div id="quitter" class="reveal"
     data-reveal data-close-on-click="true"
     data-animation-in="fade-in"
     data-animation-out="fade-out" >

    <div class="titre" style="color: transparent; text-shadow: 0 0 0 #00445b;">{% trans from "TorahCastBundle" %}navbar.quitter{% endtrans %}</div>
    <br />
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="OpenSans cesure text-justify" style="color: transparent; text-shadow: 0 0 0 #00445b;">{% trans from "TorahCastBundle" %}navbar.message_ligne1{% endtrans %} TorahCast</p>
        <p class="OpenSans cesure text-justify" style="color: transparent; text-shadow: 0 0 0 #00445b;">{% trans from "TorahCastBundle" %}navbar.message_ligne2{% endtrans %}</p>
        <br />
        <a href="{{ path('fos_user_security_logout') }}" class="expanded button OpenSans" data-close aria-label="Close reveal" type="button">{% trans from "TorahCastBundle" %}navbar.deconnecter{% endtrans %}</a>
    {% else %}
        <p class="OpenSans cesure text-justify" style="color: transparent; text-shadow: 0 0 0 #00445b;">{% trans from "TorahCastBundle" %}navbar.message_ligne3{% endtrans %}</p>
        <br />
        <a class="expanded button OpenSans" data-close aria-label="Close reveal" type="button" rel="nofollow">{% trans from "TorahCastBundle" %}navbar.retour{% endtrans %}</a>
    {% endif %}
    <a class="close-button" data-close aria-label="Close reveal">&#215;</a>
</div>
