{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Indentification | Authentification' %}
{% set description = 'Se connecter à l\'application' %}

<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig') }}
    {% stylesheets
       '@TorahCastBundle/Resources/public/css/app-administration.css'
        output='/css/administration.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>
{# Chargement de la barre de menu #}
<section>{{ include('::navbar_admin.html.twig') }}</section>
{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl" style="padding-right: 1rem;">ב''ה</div></div>
</header>

<header class="grid-x" role="banner">
  <div class="cell" style="text-align:center">
    <h3>Se connecter à TorahCast.</h3>
  </div>
</header>

{% if error %}
<div class="grid-container grid-container-padded">
  <div class="grid-x">
    <div class="callout alert cell">
        <p class="OpenSans cesure" style="color:#85090B;">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    </div>
  </div>
</div>
{% endif %}

<div class="grid-container grid-container-padded">
 <form action="{{ path("fos_user_security_check") }}" method="post">
 {% if csrf_token %}
     <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
 {% endif %}
  <fieldset class="login fieldset">
  <div class="grid-x grid-margin-x">
    <div class="small-12 medium-6 large-6 cell">
      <label for="mel" class="OpenSans">{{ 'security.login.mel'|trans({}, 'TorahCastUtilisateurBundle') }}
       <input type="text" name="_username" id="username" value="{{ last_username }}"
              placeholder="{% trans from "TorahCastUtilisateurBundle" %}security.email_placeholder{% endtrans %}"
              required autofocus />
      </label>
    </div>
    <div class="small-12 medium-6 large-6 cell">
     <label for="password" class="OpenSans">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}
        <input type="password" name="_password" id="password"
               placeholder="{% trans from "TorahCastUtilisateurBundle" %}security.password_placeholder{% endtrans %}"
               required/>
     </label>
    </div>
    <div class="small-12 medium-6 large-6 cell">
      <input id="remember_me" type="checkbox" name="" _remember_me value="on"><label class="OpenSans" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <div class="small-12 medium-6 large-6 cell">
      <a href="{{ path('fos_user_resetting_request') }}" class="button tiny info OpenSans">{{'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</a>
     </div>
   </div>
  </fieldset>
  <br />
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="button">
  </form>
 </div>

<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>


{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'
%}
     <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>