{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Indentification | Inscription' %}
{% set description = 'Viens t\'inscrire pour accèder aux salles de conférence.' %}
<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig')}}
    {% stylesheets
       '@TorahCastBundle/Resources/public/css/app-administration.css'
        output='/css/administration.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>

{# Chargement de la barre de menu #}
<section>{{ include('::navbar_admin.html.twig') }}</section>

{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl" style="padding-right: 1rem;">ב''ה</div></div>
</header>

<header class="grid-x" role="banner">
  <div class="cell" style="text-align:center">
    <h3>{% trans from "TorahCastUtilisateurBundle" %}registration.titre{% endtrans %}</h3>
  </div>
</header>
<div class="grid-container grid-container-padded">
 <div class="cell">
  <h4><span style="color:#eee; background-color: #000">&nbsp;1&nbsp;</span> - {% trans from "TorahCastUtilisateurBundle" %}registration.inscription{% endtrans %}.</h4>

 {{ form_start(form, {'attr': {'class': 'fos_user_registration_register', 'action': path('fos_user_registration_register')} }) }}
 <fieldset class="fieldset inscription">
  <div class="grid-x grid-margin-x">
  {# CIVILITE #}
    <div class="small-12 medium-4 large-4 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.genre) }}</span><span>&nbsp;</span>
       <span data-tooltip
             aria-haspopup="true"
             class="has-tip"
             data-options="show_on:large"
             tabindex="2"
             title="{% trans from "TorahCastUtilisateurBundle" %}registration.genre_aide{% endtrans %}"
             style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
             </span>
       </span>
     </div>
         <span id="genre">{{ form_widget(form.genre, {'label_attr': {'class': 'foo'} }) }}</span>
     <div class="form_erreur">{{ form_errors(form.genre) }}</div>
    </div>
  </div>

 <div class="grid-x grid-margin-x">
    {# PRENOM #}
    <div class="small-12 medium-6 large-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.prenom) }}</span><span>&nbsp;</span>
       <span data-tooltip
             aria-haspopup="true"
             class="has-tip"
             data-options="show_on:large"
             tabindex="2"
             title="{% trans from "TorahCastUtilisateurBundle" %}registration.prenom_aide{% endtrans %}"
             style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
            </span>
       </span>
     </div>
         <span id="prenom">{{ form_widget(form.prenom) }}</span>
     <div class="form_erreur">{{ form_errors(form.prenom) }}</div>
    </div>
{# NOM #}
    <div class="small-12 medium-6 large-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.nom) }}</span><span>&nbsp;</span>
       <span data-tooltip
            aria-haspopup="true"
            class="has-tip"
            data-options="show_on:large"
            tabindex="3"
            title="{% trans from "TorahCastUtilisateurBundle" %}registration.nom_aide{% endtrans %}"
            style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/></svg>
            </span>
       </span>
     </div>
       {{ form_widget(form.nom) }}
     <div class="form_erreur">{{ form_errors(form.nom) }}</div>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
{# mot de passe #}
    <div class="small-12 medium-6 large-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.plainPassword.first) }}</span><span>&nbsp;</span>
       <span data-tooltip
             aria-haspopup="true"
             class="has-tip"
             data-options="show_on:large"
             tabindex="6"
             title="{% trans from "TorahCastUtilisateurBundle" %}registration.password1_aide{% endtrans %}"
             style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
             </span>
        </span>
     </div>
         {{ form_widget(form.plainPassword.first) }}
     <div class="form_erreur">{{ form_errors(form.plainPassword.first) }}</div>
    </div>

    <div class="small-12 medium-6 large-6 cell">
     <div style="display: inline-flex;">
        <span class="form_label">{{ form_label(form.plainPassword.second) }}</span><span>&nbsp;</span>
        <span data-tooltip
              aria-haspopup="true"
              class="has-tip"
              data-options="show_on:large"
              tabindex="7"
              title="{% trans from "TorahCastUtilisateurBundle" %}registration.password2_aide{% endtrans %}"
              style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"><circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/></svg>
             </span>
        </span>
     </div>
        {{ form_widget(form.plainPassword.second) }}
     <div class="error">{{ form_errors(form.plainPassword.second) }}</div>
    </div>
   </div>

  <div class="grid-x grid-margin-x">
  {# Mon adresse electonique #}
    <div class="small-12 medium-6 medium-pull-6 large-6 large-pull-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.email) }}</span><span>&nbsp;</span>
       <span data-tooltip
            aria-haspopup="true"
            class="has-tip"
            data-options="show_on:large"
            tabindex="8"
            title="{% trans from "TorahCastUtilisateurBundle" %}registration.mel_aide{% endtrans %}"
            style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
             </span>
       </span>
       </div>
        {{ form_widget(form.email) }}
      <div class="form_erreur">{{ form_errors(form.email) }}</div>
    </div>
  {# Fuseau Horaire #}
    <div class="small-12 medium-6 medium-pull-6 large-6 large-pull-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.timezone) }}</span><span>&nbsp;</span>
       <span data-tooltip
            aria-haspopup="true"
            class="has-tip"
            data-options="show_on:large"
            tabindex="8"
            title="{% trans from "TorahCastUtilisateurBundle" %}registration.timezone_aide{% endtrans %}"
            style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
             </span>
       </span>
       </div>
        {{ form_widget(form.timezone) }}
      <div class="form_erreur">{{ form_errors(form.timezone) }}</div>
    </div>
   </div>

   <div class="grid-x grid-margin-x">
    {# MEMBRE #}
    <div class="small-12 medium-6 large-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.membre) }}</span><span>&nbsp;</span>
       <span data-tooltip
             aria-haspopup="true"
             class="has-tip"
             data-options="show_on:large"
             tabindex="2"
             title="{% trans from "TorahCastUtilisateurBundle" %}registration.membre_aide{% endtrans %}"
             style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
             </span>
       </span>
     </div>
         <span id="membre">{{ form_widget(form.membre) }}</span>
     <div class="form_erreur">{{ form_errors(form.membre) }}</div>
    </div>
   {# TELEPHONE #}
    <div class="small-12 medium-6 large-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label" id="telephoneLabel">{{ form_label(form.telephone) }}</span><span>&nbsp;</span>
       <span data-tooltip
            aria-haspopup="true"
            class="has-tip"
            data-options="show_on:large"
            tabindex="3"
            title="{% trans from "TorahCastUtilisateurBundle" %}registration.telephone_aide{% endtrans %}"
            style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
            <span class="question" id="telephoneAide">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
            </span>
       </span>
     </div>
       {{ form_widget(form.telephone) }}
     <div class="form_erreur">{{ form_errors(form.telephone) }}</div>
    </div>
  </div>

  </fieldset>
 </div>
   {# IP + USERNAME #}
   <div>{{ form_widget(form.ip, {'value' : ipAdresse }) }}</div>
   <div>{{ form_widget(form.username, {'value' : userName }) }}</div>

   {{ form_rest(form) }}
   <div class="small-12 large-6 cell">
      <input type="submit" id="_submit" name="_submit"
             value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
             class="button OpenSans" />
   </div>
{{ form_end(form) }}
 </div>

<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>



{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'

%}
     <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
 $('#fos_user_registration_form_telephone').hide();
 $('#telephoneLabel').hide();
 $('#telephoneAide').hide();

 $('#membre').change(function() {
  let tempo = $( "#fos_user_registration_form_membre" ).val();
  if (tempo == 'INTERVENANT') {
      $('#fos_user_registration_form_telephone').show();
      $('#telephoneLabel').show();
      $('#telephoneAide').show();
    }
  if (tempo == 'PARTICIPANT') {
    $('#fos_user_registration_form_telephone').hide();
    $('#telephoneLabel').hide();
    $('#telephoneAide').hide();
    }
  if (tempo == 'ELEVE') {
    $('#fos_user_registration_form_telephone').hide();
    $('#telephoneLabel').hide();
    $('#telephoneAide').hide();
    }
});
</script>

</body>
</html>

