{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Conference | Liste' %}
{% set description = 'Afficher la liste des conférences.' %}
<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig')}}
    {% stylesheets
       '@TorahCastBundle/Resources/public/css/app-breadcrumbs.css'
       '@TorahCastBundle/Resources/public/css/app-afficher.css'
        output='/css/afficher.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>
{# Chargement de la barre de menu #}
<section>{{ include('::navbar_admin.html.twig') }}</section>

{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl" style="padding-right: 1rem;">ב''ה</div></div>
</header>

<header class="grid-x" role="banner">
  <div class="cell" style="text-align:center">
    <h3>Mes conférences.</h3>
  </div>
</header>
<nav aria-label="Vous êtes ici:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="{{ path('menu') }}" style="font-family: pDensiaSans;">{% trans from "TorahCastBundle" %}menu.ariane.ariane0{% endtrans %}</a></li>
    <li class="current" style="font-family: pDensiaSans;"><span class="show-for-sr">Page :</span>{% trans from "TorahCastBundle" %}menu.ariane.modifier{% endtrans %}</li>
  </ul>
 </nav>
 <p class="OpenSans" style="font-size:1rem; color:rosybrown; padding-left: 0.5rem;">Mise à jour le 02/03/2018</p>

<div class="grid-container grid-container-padded">
 <div class="cell">
 {% if count==0 %}
  <div class="grid-container grid-container-padded">
   <div class="warning callout grid-x" data-closable="slide-out-right">
      <p style="color:#00445b;" class="OpenSans cell">
       <span class="sourire">&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <path d="M1015 689q13 22 7 48t-29 40q-146 88-348 88-89 0-173-17-148-29-268.5-99.5T12 579Q-4 557 .5 531.5T27 489q22-16 47-11.5t42 26.5q56 78 157 136t224 82q120 24 234.5 9.5T927 668q22-14 48.5-7.5T1015 689zM332 380q-45-9-71-47.5T244 249t48-71 84-17 71 47.5 17 83.5-48 71-84 17zm447 88q-45-9-71-48t-17-84 47.5-70.5T822 249t71 47.5 17 83.5-47.5 71-83.5 17z"/>
          </svg>
       </span>
        Je n'ai pas trouvé de conférence programmée.
      </p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>
    </div>
  </div>

 {% else %}
  <div id="nombreConference" class="grid-container grid-container-padded">
   <div class="success callout grid-x" data-closable="slide-out-right">
      <p style="color:#00445b;" class="OpenSans cell">
       <span class="sourire">&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <path d="M1015 689q13 22 7 48t-29 40q-146 88-348 88-89 0-173-17-148-29-268.5-99.5T12 579Q-4 557 .5 531.5T27 489q22-16 47-11.5t42 26.5q56 78 157 136t224 82q120 24 234.5 9.5T927 668q22-14 48.5-7.5T1015 689zM332 380q-45-9-71-47.5T244 249t48-71 84-17 71 47.5 17 83.5-48 71-84 17zm447 88q-45-9-71-48t-17-84 47.5-70.5T822 249t71 47.5 17 83.5-47.5 71-83.5 17z"/>
          </svg>
       </span>
        J'ai trouvé <span id="stat" class="stat" data-stat="{{ count }}">{{ count }}</span> conférence(s) programmée(s).
      </p>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>
    </div>
  </div>

 <div id="resultat"></div>
 <table class="responsive-card-table unstriped">
  <thead>
    <tr>
      <th class="text-center">Titre</th>
      <th class="text-center">Date</th>
      <th class="text-center">Durée</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for ii in data %}
    <tr id="{{ii.id}}">
      <td data-label="Titre">{{ii.titre}}</td> {#app.request.locale#}
      <td data-label="Date">
        <span><img class="pays" src="/images/static/pays/{{pays}}.png" alt="{{pays|capitalize}}" /></span>
        {{ii.start|localizeddate('full', 'short', timezoneCode )|capitalize }}
      </td>
      <td data-label="Duree" class="text-center">{{ii.duree}}</td>
      <td data-label="outils" class="text-center">
        <span id="play" onclick="rejoindre('{{ii.id}}');">
          <svg class="svg-play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <path d="M34.857 3.613C20.084-4.861 8.107 2.081 8.107 19.106v125.637c0 17.042 11.977 23.975 26.75 15.509L144.67 97.275c14.778-8.477 14.778-22.211 0-30.686L34.857 3.613z"/>
          </svg>
        </span>
        <span id="modify">
          <svg class="svg-update" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20">
            <path d="M15 2v2H6V2h9zm1-1H5v4h11V1zM0 1h4v4H0V1zM15 7v2H6V7h9zm1-1H5v4h11V6zM0 6h4v4H0V6zM15 12v2H6v-2h9zm1-1H5v4h11v-4zM0 11h4v4H0v-4z"/>
          </svg>
        </span>
        <span onclick="supprimer('{{ii.id}}');" >
          <svg class="svg-delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <path d="M12.645 0l.271 5.781.898 6.99c.625-.185 1.252-.302 1.88-.302.318 0 .638.025.95.075 1.588.251 3.001 1.119 4.197 2.463l-.576-6.523a1.5 1.5 0 0 1 1.362-1.626 1.506 1.506 0 0 1 1.626 1.362l1.435 16.261c.207 1.335.333 2.742.372 4.208l1.597 18.095a1.5 1.5 0 0 1-2.988.264l-.463-5.25c-1.017 3.193-2.389 6.024-3.977 8.288 2.195 2.643 7.326 4.62 14.736 4.62 9.265 0 14.97-3.088 15.817-6.707h.437L54.526 6V0H12.645zm22.881 47a1.5 1.5 0 0 1-3 0V8a1.5 1.5 0 1 1 3 0v39zm8.225.049a1.5 1.5 0 1 1-2.988-.264l3.402-38.564a1.51 1.51 0 0 1 1.627-1.362 1.498 1.498 0 0 1 1.361 1.626l-3.402 38.564z"/>
            <path d="M16.488 13.532a5.131 5.131 0 0 0-.794-.062c-.011 0-.021.003-.032.003-.519-.313-1.064-.541-1.647-.633-.111-.018-.222-.024-.333-.033-5.215-.416-10.861 8.568-12.612 19.65-1.789 11.318.978 21.707 6.284 22.546.195.031.392.044.588.049.65.015 1.306-.11 1.959-.366.028.006.054.019.082.021.264.042.534.062.803.062 5.412 0 11.159-8.506 12.811-18.959 1.765-11.188-1.489-21.39-7.109-22.278zM8.639 38.07c-.65-.104-1.102-.959-1.286-2.152l-2.561-.494 1.121-5.811 2.462.475c.521-.925 1.151-1.49 1.746-1.396 1.101.176 1.649 2.498 1.251 5.018s-1.632 4.534-2.733 4.36zm-1.934-7.287l2.838.547-.741 3.846-2.838-.546.741-3.847z"/>
          </svg>
        </span>
      </td>
    </tr>

  {% endfor %}
  </tbody>
 </table>
{% endif %}
</div>
<a class="float-right" href="{{ path('menu')}}" rel="nav">
  <span id="backmenu" class="OpenSans retour" style="padding-right:2rem;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25" height="25">
      <path d="M55.734 217.682H271.48c9.007 0 16.328-7.326 16.328-16.317 0-9.007-7.321-16.328-16.328-16.328H55.74l31.46-31.449c6.337-6.364 6.337-16.709-.033-23.105-3.089-3.062-7.18-4.754-11.531-4.754s-8.447 1.692-11.542 4.775L4.879 189.725c-1.539 1.507-2.763 3.301-3.677 5.493A16.51 16.51 0 0 0 0 201.36c0 2.099.402 4.172 1.246 6.239.843 2.061 2.072 3.873 3.535 5.298l59.302 59.318c3.079 3.089 7.18 4.781 11.542 4.781 4.351 0 8.452-1.697 11.563-4.792 6.32-6.353 6.331-16.693-.016-23.083l-31.438-31.439z"/>
      <path d="M348.388 55.239H164.874c-29.986 0-54.38 24.405-54.38 54.396l.022 48.332c.201 8.79 7.511 15.947 16.301 15.947 5.336 0 10.117-2.633 13.103-6.663l3.22-.049V109.64c0-11.993 9.752-21.751 21.734-21.751h183.514c11.982 0 21.74 9.758 21.74 21.751v183.503c0 11.993-9.758 21.751-21.74 21.751H164.874c-11.982 0-21.734-9.758-21.734-21.751l-.038-57.714h-3.182c-2.953-4.003-7.702-6.57-13.103-6.57-8.887 0-16.051 6.984-16.323 16.328v47.956c0 29.991 24.394 54.396 54.38 54.396h183.514c29.991 0 54.391-24.405 54.391-54.396V109.641c0-29.997-24.4-54.402-54.391-54.402z"/>
    </svg>
    &nbsp; Revenir au menu </span>
</a>
</div>


<div class="reveal" id="rejoindre" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <h2>Rejoindre la conférence.</h2>
    <p class="lead">Voulez-vous vraiment démarer la conférence ?</p>
    <div id="Lancer"></div>
    <button class="button expanded">Annuler</button>
  <button class="close-button" data-close aria-label="Close modal" type="button">
     <span aria-hidden="true">&times;</span>
  </button>
</div>


  <div class="clear-fix">
  <div class="grid-x cell"></div>
</div>

{#********** Revenir en haut de page ***************#}
<div class="pageUP"></div>

<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>


{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'

%}
     <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
function goTo ()
{
 var the_id = $(this).attr("resultat");
 $('html, body').animate({scrollTop:$(the_id).offset().top}, 'slow');
};

function rejoindre(id)
{
  let data= {id: id};

  $.ajax({
          type: 'GET',
          url: "{{ path('rejoindreConference') }}",
          data: data,
          dataType: 'json',
          timeout: 3000,
          success: function(data)
                {
                  console.log(data);
                  $('#Lancer').html('<a target="_blank" href="'+ data.reponse +'"><button class="button expanded">Lancer</button></a>')
                  $('#rejoindre').foundation('open');
                },
          error: function(){
                  $('#resultat').html(
                      '<br />\
                      <div class="grid-container grid-container-padded">\
                        <div class="alert callout grid-x" data-closable="slide-out-right">\
                          <p style="color:#e03522;" class="OpenSans cell">Ooups ! il n\'est pas possible de rejoindre la conférence pour le moment.</p>\
                          <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                        </div>\
                      </div>'
                  ).show("slow");}
                });
 };

function supprimer(id)
{
  let data= {id: id};
  //console.log(data);
  $.ajax({
          type: 'GET',
          url: "{{ path('supprimerConference') }}",
          data: data,
          dataType: 'json',
          timeout: 3000,
          success: function(response) {
                //goTo();
                console.log(response);
                if (response.reponse=="OK")
                {
                  $('#resultat').html(
                      '<br /> \
                       <div class="grid-container grid-container-padded"> \
                        <div class="success callout grid-x" data-closable="slide-out-right"> \
                          <p style="color:#00445b;" class="OpenSans cell"> \
                          <span class="sourire"> \
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25" height="25"> \
                              <path d="M1015 689q13 22 7 48t-29 40q-146 88-348 88-89 0-173-17-148-29-268.5-99.5T12 579Q-4 557 .5 531.5T27 489q22-16 47-11.5t42 26.5q56 78 157 136t224 82q120 24 234.5 9.5T927 668q22-14 48.5-7.5T1015 689zM332 380q-45-9-71-47.5T244 249t48-71 84-17 71 47.5 17 83.5-48 71-84 17zm447 88q-45-9-71-48t-17-84 47.5-70.5T822 249t71 47.5 17 83.5-47.5 71-83.5 17z"/>\
                            </svg>\
                          </span> &nbsp; La conférence a été supprimée.</p>\
                          <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                        </div> \
                      </div>'
                  ).show("slow");

                // suprimme la ligne
                $('#'+id).hide("slow");

                //recalcul le nombre de conference
                let stat=$("#stat").data('stat') - 1;
                if (stat==0) {
                              $('#nombreConference').html(
                                '<div class="grid-container grid-container-padded">\
                                  <div class="callout grid-x" data-closable="slide-out-right">\
                                      <p style="color:#00445b;" class="OpenSans cell"> \
                                          <span class="ampoule">\
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25px" height="25px" > \
                                              <path d="M199.432 83.02c-12.129-27.672-42.073-42.92-71.73-38.333-3.859.597-7.585 1.566-11.177 2.823-.89-.018-1.781-.038-2.671-.059-.747-.017-.842.858-.377 1.228-21.641 8.85-37.402 29.195-40.911 52.839-2.418 16.293 1.378 33.332 11.424 46.515 15.03 19.723 35.633 26.94 45.416 50.659-6.826 2.682-11.192 11.671-7.472 18.413.09.162.226.209.348.293.384 1.082 1.332 1.908 2.616 2.548-.052.026-.105.012-.156.054-.275.228-.478.535-.723.797-.3.002-.6 0-.9.002-.455.002-.455.704 0 .706h.257c-3.601 4.75-3.155 13.275 2.584 15.994.021.223.109.431.362.547 11.756 5.41 26.731 3.072 39.095.927 8.979-1.557 21.683-3.324 28.191-10.735 3.944 2.929 5.94 7.665 5 12.426-8.657 8.163-19.894 11.339-31.367 13.333-10.406 1.809-29.088 5.791-38.65-1.434.137-.245.191-.529-.021-.853-.061-.093-.106-.19-.165-.283 4.177.674 8.386 1.203 12.586 1.691.453.053.565-.734.109-.803-4.383-.665-8.786-1.3-13.198-1.752-.727-1.349-1.198-2.74-1.376-4.142 3.934-.047 7.865.116 11.787.411.59.044.574-.851 0-.911-3.948-.413-7.882-.459-11.842-.299-.089-1.977.412-3.968 1.687-5.89.404-.609-.475-1.219-.978-.755-2.906 2.685-3.82 7.342-2.258 10.948a.476.476 0 0 0 .041.38c2.089 4.03 5.265 6.374 8.989 7.678.017.059-.01.116.029.174 15.206 22.715 59.306 17.64 62.519-11.975.012-.107-.018-.187-.027-.281.903-.701 1.825-1.374 2.67-2.163.299-.008.584-.103.737-.431.051-.11.073-.228.121-.339.216-.215.463-.384.674-.605.519-.543.439-1.188.101-1.651 1.31-5.37-.605-11.259-5.233-14.496 2.895-4.726 2.698-12.946-1.578-17.069.538-.539 1.074-1.08 1.546-1.672.816-1.022-.086-2.315-1.106-2.144 1.029-7.741-4.627-15.92-13.065-15.938-.02 0-.029.019-.049.02-3.561-24.17 16.992-40.655 22.326-62.806 3.463-14.386 1.732-30.09-4.185-43.587zm-33.588 186.824c-11.536 2.149-22.125-2.48-29.549-11.192 7.38 1.689 16.337.108 23.425-.724 11.484-1.348 23.82-3.581 33.67-9.851-2.533 12.81-15.563 19.535-27.546 21.767zm28.604-53.334c.559 2.066.539 4.076.16 6.067-.206.1-.403.244-.56.497-6.223 9.971-21.225 11.785-31.872 13.495-10.652 1.711-23.635 3.354-34.231.278-.032-.161-.078-.324-.209-.455-.753-.752-1.412-1.578-2.015-2.433 3.924.898 7.916 1.546 11.945 1.629.777.016.751-1.122 0-1.19-4.285-.386-8.526-.828-12.751-1.655-.948-1.644-1.526-3.411-1.624-5.2 3.906.108 7.823.069 11.729.016.586-.008.587-.903 0-.911-3.913-.053-7.836-.093-11.75.016.072-1.742.678-3.487 1.918-5.153 1.93.013 3.861.021 5.791.012 6.335.807 14.024.135 15.746-.02 12.92-1.167 33.468-1.668 44.822-10.242 1.211 1.578 2.32 3.101 2.901 5.249zm-13.484-23.629c.223-.186.4-.426.507-.706 3.183.815 5.904 1.79 8.107 4.476 2.319 2.828 3.152 6.492 2.83 10.088-.352.294-.728.52-1.087.791-.693-.051-1.381.395-1.437 1.046-7.274 4.796-15.944 5.683-24.659 7.133-3.634.605-38.611 6.255-41.426.291-.064-.361-.099-.715-.145-1.072.013-.118.006-.229.039-.353.054-.207-.032-.378-.156-.52-.031-.369-.023-.729-.033-1.093.05.033.068.087.138.104 4.31 1.055 8.537 1.089 12.852.048.656-.159.375-1.132-.277-1.004-4.081.801-8.217.784-12.284-.101a.514.514 0 0 0-.455.112c.04-2.336.555-4.532 1.536-6.519 3.988.34 7.985.78 11.986.826.55.006.523-.779 0-.837-3.855-.425-7.749-.485-11.627-.621a14.22 14.22 0 0 1 4.556-4.916c.33.857.682 1.679.984 2.579.224.668 1.05.591 1.299.109.074.024.112.084.204.085 16.044.278 33.024-2.312 48.037-8.051.888-.34.966-1.344.511-1.895zm-33.786 6.582c-5.941-30.462-20.803-58.006-37.789-83.765 7.97-7.27 21.215-9.006 31.183-5.298 6.992 2.601 12.766 7.649 19.963 9.823a77.98 77.98 0 0 0 3.931 1.095c-5.007 24.548-4.504 49.891 1.262 74.586-6.159 1.36-12.319 2.591-18.55 3.559zm54.641-84.013c-1.816 28.099-29.222 47.644-23.467 76.702.057.289.175.509.322.689-3.653.95-7.273 1.754-10.899 2.579-4.585-25.197-4.474-49.211.07-73.426 4.593.672 9.156.164 10.6-4.384.443-1.394-1.468-2.002-2.226-.938-1.851 2.595-4.64 3.318-7.866 2.975 1.436-7.201 3.201-14.42 5.413-21.701.493-1.623-1.945-2.245-2.51-.692-2.596 7.134-4.665 14.387-6.268 21.71-8.425-2.414-18.551-9.808-23.614-11.68-5.925-2.191-12.195-2.594-18.364-1.224-5.668 1.26-10.931 3.941-14.904 7.72a634.635 634.635 0 0 0-5.994-8.85c-.691-1.001-2.297-.105-1.654.966 1.962 3.267 3.925 6.514 5.878 9.754-3.867 4.496-6.034 10.239-5.302 16.847.098.881 1.438.93 1.413 0-.165-6.17 1.826-11.109 5.069-14.887 15.739 26.146 30.602 51.849 37.712 82.177-4.222.623-8.48 1.164-12.816 1.572-.165.016-.268.107-.376.189-.256-.91-.608-1.738-.906-2.612a.636.636 0 0 0-.157-.452c-.216-.616-.501-1.173-.737-1.771 2.91.469 5.806.936 8.735 1.264.601.067.737-.941.143-1.059-2.845-.563-5.702-.985-8.571-1.41-.317-.047-.532.139-.658.364-2.309-5.556-5.476-10.368-9.1-14.782 2.778.416 5.593.488 8.388.088.468-.067.354-.838-.111-.822-3.073.111-6.089.04-9.129-.267-2.482-2.923-5.174-5.661-7.953-8.321 1.949.316 3.894.658 5.852.902.505.063.627-.808.121-.895-2.324-.4-4.666-.694-7.005-.996-2.311-2.179-4.675-4.308-7.035-6.438 3.089.329 6.123.945 9.15 1.785.639.177.893-.779.272-.986-3.464-1.152-7.03-1.725-10.648-1.909-3.176-2.873-6.3-5.784-9.269-8.822 3.937.656 7.911 1.399 11.878 1.59.543.026.659-.824.129-.949-4.316-1.021-8.84-1.38-13.247-1.924-3.068-3.241-5.909-6.669-8.367-10.417 3.389.657 6.791 1.263 10.21 1.72.621.083.761-.971.148-1.096-3.68-.746-7.401-1.319-11.122-1.833-2.266-3.648-4.151-7.614-5.51-12.022 3.72.608 7.449 1.245 11.21 1.523.496.036.616-.789.119-.877-3.75-.659-7.556-.958-11.348-1.284-.071-.006-.124.026-.172.062a61.37 61.37 0 0 1-1.867-8.643c3.752.026 7.399.429 11.109 1.043.751.124 1.09-.969.321-1.165-3.768-.962-7.708-1.201-11.584-.984a61.932 61.932 0 0 1-.468-6.484c3.525.111 7.057.132 10.58.009.777-.027.779-1.181 0-1.209-3.513-.123-7.035-.101-10.549.009-.003-3.756.368-7.472 1.019-11.122 4.273.27 8.554.621 12.835.552.929-.015.885-1.315 0-1.413-4.163-.46-8.364-.523-12.552-.651 1.653-8.13 4.888-15.852 9.364-22.75 4.357.469 8.719.982 13.093 1.182.841.038 1.063-1.377.203-1.498-4.078-.568-8.191-.871-12.299-1.188a66.281 66.281 0 0 1 7.777-9.311c4.965.475 9.924.968 14.912 1.136.857.029.808-1.203 0-1.301-4.53-.553-9.081-.834-13.633-1.108 3.002-2.836 6.305-5.346 9.816-7.557 5.186.969 10.43 1.409 15.714.904 1.017-.097 1.058-1.652 0-1.618-4.654.151-9.228.081-13.803-.461 4.35-2.525 9.058-4.482 14.012-5.886 4.558.319 9.118.604 13.681.653 1.187.013 1.154-1.729 0-1.822-2.257-.183-4.524-.25-6.789-.344 1.864-.296 3.736-.573 5.661-.692 38.588-2.372 70.409 29.766 67.92 68.267z"/> \
                                              <path d="M95.661 181.366c-8.595 3.937-17.327 7.668-25.855 11.736-.854.407-.253 1.821.645 1.529 8.976-2.917 17.815-7.237 25.942-12.013.82-.482.102-1.634-.732-1.252zM54.219 121.243c-8.861 1.463-17.394 1.036-26.249-.123-.925-.121-1.092 1.381-.218 1.607 8.841 2.287 18.033 1.997 26.946.255 1.149-.224.65-1.925-.479-1.739zM79.55 50.139c-6.65-8.712-11.327-18.427-14.417-28.932-.284-.967-1.729-.564-1.506.415 2.499 10.985 7.527 20.792 14.551 29.575.613.767 1.975-.269 1.372-1.058zM134.736.936c.122-1.063-1.703-1.319-1.881-.254-1.335 7.993-1.433 15.985-.676 24.047.11 1.175 1.947 1.202 1.859 0-.583-7.971-.209-15.862.698-23.793zM191.869 10.802c-6.068 7.061-9.822 15.961-12.385 24.832-.371 1.283 1.582 1.806 1.99.549 2.858-8.79 7.272-16.301 11.913-24.209.541-.922-.786-2.024-1.518-1.172zM241.515 57.795c-4.488 3.615-8.517 7.802-12.653 11.807-.975.945.496 2.403 1.486 1.486 4.221-3.912 8.62-7.707 12.468-11.991.807-.898-.391-2.036-1.301-1.302zM243.539 128.115c-7.793 3.432-15.454 7.066-23.424 10.087-1.257.477-.733 2.506.564 2.044 8.168-2.912 16.333-6.089 23.921-10.317 1.208-.673.146-2.346-1.061-1.814zM156.334 265.44c-4.069-.832-8.535-1.784-12.698-1.816-.405-.003-.472.578-.094.694 3.981 1.224 8.52 1.656 12.661 2.09.55.057.673-.858.131-.968zM150.308 260.513a43.674 43.674 0 0 0-11.322-.644c-.366.027-.374.59 0 .576 3.74-.136 7.458.083 11.154.678.395.063.571-.534.168-.61zM134.358 188.5c-2.203-.039-4.408-.007-6.611 0-.335.001-.336.52 0 .521 2.203.007 4.408.039 6.611 0 .335-.006.335-.515 0-.521zM90.727 87.552c-3.496-.338-7.069-.094-10.577-.047-.993.013-.994 1.53 0 1.543 3.508.047 7.081.291 10.577-.047a.725.725 0 0 0 0-1.449z"/> \
                                          </svg> \
                                          </span>&nbsp; Oops ! Vous n\'avez plus de conférence à afficher.\
                                      </p>\
                                      <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                                    </div>\
                                  </div>');
                }
                else
                 {
                  $("#stat").html("<span id='stat' class='stat' data-stat='"+stat+"'>"+stat+"</span>");
                 }
                }
                else
                {
                  $('#resultat').html(
                     '<br />\
                      <div class="grid-container grid-container-padded">\
                        <div class="warning callout grid-x" data-closable="slide-out-right">\
                          <p style="color:#e03522;" class="OpenSans cell"> \
                          <span class="croix">\
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25px" height="25px"> \
                             <path fill="currentColor" d="M512 0c283 0 512 229 512 512s-229 512-512 512S0 795 0 512 229 0 512 0zm0 956c245 0 444-199 444-444S757 68 512 68 68 267 68 512s199 444 444 444zm189-681c13-13 35-13 48 0s13 35 0 48L559 513l168 188c13 13 13 35 0 48s-35 13-48 0L511 561 323 749c-13 13-35 13-48 0s-13-35 0-48l190-190-168-188c-13-13-13-35 0-48s35-13 48 0l168 187z"/> \
                           </svg>\
                          </span>&nbsp; Ooups ! '+response.reponse+'</p>\
                          <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                        </div>\
                      </div>'
                  ).show("slow");
                }
          },
          error: function(){
                  $('#resultat').html(
                      '<br />\
                      <div class="grid-container grid-container-padded">\
                        <div class="alert callout grid-x" data-closable="slide-out-right">\
                          <p style="color:#e03522;" class="OpenSans cell">Ooups ! La conférence n\'a pas été supprimée.</p>\
                          <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                        </div>\
                      </div>'
                  ).show("slow");}
                });
 };
</script>
</body>
</html>