{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Conference | Ajouter' %}
{% set description = 'Ajouter une nouvelle conférence.' %}
<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig')}}
    {% stylesheets
       '@TorahCastBundle/Resources/public/css/app-breadcrumbs.css'
       '@TorahCastBundle/Resources/public/css/app-conference.css'
       '@TorahCastBundle/Resources/public/css/datepicker/foundation-datepicker.css'
        output='/css/ajouter.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>

{# Chargement de la barre de menu #}
<section>{{ include('::navbar_admin.html.twig') }}</section>

{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl" style="padding-right: 1rem;">ב''ה</div></div>
</header>

<header class="grid-x" role="banner">
  <div class="cell" style="text-align:center">
    <h3>Ajouter une nouvelle conférence.</h3>
  </div>
</header>

<div class="grid-container grid-container-padded">
{% for message in app.flashes('notice') %}
    <div class="callout success cell">
      <p class="OpenSans cesure" style="color:#00445b;">
       <span class="sourire">&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <path d="M1015 689q13 22 7 48t-29 40q-146 88-348 88-89 0-173-17-148-29-268.5-99.5T12 579Q-4 557 .5 531.5T27 489q22-16 47-11.5t42 26.5q56 78 157 136t224 82q120 24 234.5 9.5T927 668q22-14 48.5-7.5T1015 689zM332 380q-45-9-71-47.5T244 249t48-71 84-17 71 47.5 17 83.5-48 71-84 17zm447 88q-45-9-71-48t-17-84 47.5-70.5T822 249t71 47.5 17 83.5-47.5 71-83.5 17z"/>
          </svg>
       </span>
       {{ message }}
      </p>
    </div>
{% endfor %}
{% for message in app.flashes('alert') %}
    <div class="callout alert cell">
      <p class="OpenSans cesure" style="color:#00445b;">
        <span class="croix">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <path fill="currentColor" d="M512 0c283 0 512 229 512 512s-229 512-512 512S0 795 0 512 229 0 512 0zm0 956c245 0 444-199 444-444S757 68 512 68 68 267 68 512s199 444 444 444zm189-681c13-13 35-13 48 0s13 35 0 48L559 513l168 188c13 13 13 35 0 48s-35 13-48 0L511 561 323 749c-13 13-35 13-48 0s-13-35 0-48l190-190-168-188c-13-13-13-35 0-48s35-13 48 0l168 187z"/>
          </svg>
          &nbsp;
        </span>{{ message }}</p>
    </div>
{% endfor %}

 <div class="cell">
 {{ form_start(form, {'attr': {'action': path('ajouterConference')} }) }}
 <fieldset class="fieldset" id="inscription">
  <div class="grid-x grid-margin-x">
  {# INTERVENANT #}
   <div class="small-12 medium-4 large-4 cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.intervenant) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="1"
           title="{% trans from "TorahCastBundle" %}conference.intervevant_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
             <span class="question">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
             </span>
      </span>
     </div>
        {% set intervenant = app.user.prenom|capitalize ~' '~ app.user.nom|capitalize %}
        <span id="intervenant">{{ form_widget(form.intervenant, {attr: {value: intervenant }}) }}</span>
    <div class="form_erreur">{{ form_errors(form.intervenant) }}</div>
   </div>
  </div>

  <div class="grid-x grid-margin-x">
  {# TITRE #}
   <div class="small-12 medium-8 large-8 cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.titre) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="2"
           title="{% trans from "TorahCastBundle" %}conference.titre_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
        <span class="question">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
          </svg>
        </span>
     </span>
     </div>
     <span id="titre">{{ form_widget(form.titre) }}</span>
     <div class="form_erreur">{{ form_errors(form.titre) }}</div>
   </div>
  </div>

  <div class="grid-x grid-margin-x">
  {# START #}
  <div class="small-8 medium-6 large-6 cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.start) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="3"
           title="{% trans from "TorahCastBundle" %}conference.start_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
        <span class="question">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
          </svg>
        </span>
      </span>
    </div>
      <span id="start">{{ form_widget(form.start) }}</span>
      <div class="form_erreur">{{ form_errors(form.start) }}</div>
   </div>
  {# DUREE #}
   <div class="small-4 medium-6 large-6 cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.duree) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="4"
           title="{% trans from "TorahCastBundle" %}conference.duree_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
       <span class="question">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
        </svg>
       </span>
     </span>
    </div>
      <span id="duree">{{ form_widget(form.duree) }}</span>
      <div class="form_erreur">{{ form_errors(form.duree) }}</div>
   </div>
    <div  class="small-12 cell" id="salle"></div>
  </div>

  <div class="grid-x grid-margin-x">
  {# Fuseau Horaire #}
    <div class="small-12 medium-6 medium-pull-6 large-6 large-pull-6 cell">
     <div style="display: inline-flex;">
       <span class="form_label">{{ form_label(form.timezone) }}</span><span>&nbsp;</span>
       <span data-tooltip
            aria-haspopup="true"
            class="has-tip"
            data-options="show_on:large"
            tabindex="5"
            title="{% trans from "TorahCastBundle" %}conference.timezone_aide{% endtrans %}"
            style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
         <span class="question">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
              <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
            </svg>
         </span>
       </span>
     </div>
       <span id="timezone">{{ form_widget(form.timezone) }}</span>
       <div class="form_erreur">{{ form_errors(form.timezone) }}</div>
    </div>

    <div class="small-12 medium-6 medium-pull-6 large-6 large-pull-6 cell">
     <div style="isplay: inline-flex;">
        <span class="OpenSans">Heure locale Paris : {{ "now"|date('H\\hi','Europe/Paris') }}</span><br />
         <span class="OpenSans">Heure Jerusalem : {{ "now"|date('H\\hi','Asia/Jerusalem') }}</span>
     </div>
     <br />
    </div>
  </div>

  <div class="grid-x grid-margin-x">
   {# PARTICIPANT #}
   <div class="small-12 medium-6 large-6 cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.participant) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="6"
           title="{% trans from "TorahCastBundle" %}conference.participant_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
        <span class="question">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
          </svg>
        </span>
      </span>
     </div>
        <span id="participant">{{ form_widget(form.participant) }}</span>
        <div class="form_erreur">{{ form_errors(form.participant) }}</div>
    </div>

  {# LANGUE #}
   <div class="small-12 medium-6 large-6 cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.langue) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="7"
           title="{% trans from "TorahCastBundle" %}conference.langue_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
       <span class="question">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
          </svg>
       </span>
      </span>
     </div>
        <span id="langue">{{ form_widget(form.langue) }}</span>
        <div class="form_erreur">{{ form_errors(form.langue) }}</div>
    </div>
   </div>

  <div class="grid-x grid-margin-x">
  {# THEME #}
   <div class="cell">
    <div style="display: inline-flex;">
     <span class="form_label">{{ form_label(form.theme) }}</span><span>&nbsp;</span>
     <span data-tooltip
           aria-haspopup="true"
           class="has-tip"
           data-options="show_on:large"
           tabindex="8"
           title="{% trans from "TorahCastBundle" %}conference.theme_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
        <span class="question">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
            <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
          </svg>
        </span>
      </span>
     </div>
    <div style="display: inline-flex;">
     <span id="theme">{{ form_widget(form.theme) }}</span>
     <span class="svg-add">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25" height="25">
          <path id="add" d="M394 154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414C242.488 2.666 236.02 0 228.398 0h-54.812c-7.612 0-14.084 2.663-19.414 7.993-5.33 5.33-7.994 11.803-7.994 19.414v118.775H27.407c-7.611 0-14.084 2.664-19.414 7.994S0 165.973 0 173.589v54.819c0 7.618 2.662 14.086 7.992 19.411 5.33 5.332 11.803 7.994 19.414 7.994h118.771V374.59c0 7.611 2.664 14.089 7.994 19.417 5.33 5.325 11.802 7.987 19.414 7.987h54.816c7.617 0 14.086-2.662 19.417-7.987 5.332-5.331 7.994-11.806 7.994-19.417V255.813h118.77c7.618 0 14.089-2.662 19.417-7.994 5.329-5.325 7.994-11.793 7.994-19.411v-54.819c-.002-7.616-2.661-14.087-7.993-19.414z"/>
        </svg>
     </span>
    </div>
    <div class="form_erreur">{{ form_errors(form.theme) }}</div>
   </div>

  {# AUTRE #}
  <div class="cell">
    <div style="display: inline-flex;">
     <span class="form_label" id="autreThemeLabel">{{ form_label(form.autreTheme) }}</span><span>&nbsp;</span>
     <span data-tooltip aria-haspopup="true" class="has-tip" data-options="show_on:large"
           tabindex="9" title="{% trans from "TorahCastBundle" %}conference.autreTheme_aide{% endtrans %}"
           style="border-bottom-width: 1px; margin-bottom: 1.5rem; top: 4px;">
            <span class="question" id="autreThemeAide">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
                <circle cx="16" cy="29" r="3"/><path d="M16 0C9.8 0 6 4.2 6 8c0 4.7 4.7 7 7 7 1.1 0 2-.9 2-2s-.9-2-2-2c-.2 0-.5.1-.8.1C10.5 11.4 8 9.7 8 8c0-3.1 4.9-5 8-5s8 1.9 8 5c0 5.7-10 8.3-10 14 0 1.1.9 2 2 2s2-.9 2-2c0-.2 0-.4-.1-.5-.3-.9-.1-2 .4-2.8.9-1.3 2-2.3 3.3-3.5 2.2-2 4.4-4 4.4-7.2 0-3.8-3.8-8-10-8z"/>
              </svg>
            </span>
     </span>
    </div>
    <div class="cell" style="display: inline-flex;">
      <span id="autreTheme">{{ form_widget(form.autreTheme) }}</span>
      <span class="svg-ok">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32">
            <path d="M472.003 58.36l-13.132-11.282c-21.798-18.732-54.554-16.644-73.799 4.697L165.39 295.359l-66.312-57.112c-21.775-18.753-54.536-16.707-73.804 4.611l-11.611 12.848a52.934 52.934 0 0 0-13.595 38.18 52.938 52.938 0 0 0 17.402 36.6l121.553 111.311a52.936 52.936 0 0 0 76.355-4.057l262.245-304.71a52.915 52.915 0 0 0 12.661-38.496 52.92 52.92 0 0 0-18.281-36.174z"/>
          </svg>
      </span>
    </div>
    <div class="form_erreur">{{ form_errors(form.autreTheme) }}</div>
    <div class="OpenSans" id="information"></div>
  </div>
 </div>
 </fieldset>
   {{ form_widget(form.valider) }}
   {{ form_widget(form.effacer) }}
  {{ form_rest(form) }}
 {{ form_end(form) }}
 </div>
</div>

 <div id="resultat"></div>

{#********** Revenir en haut de page ***************#}
<div class="pageUP"></div>

<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>


{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/datepicker/foundation-datepicker.js'
    '@TorahCastBundle/Resources/public/js/datepicker/locales/foundation-datepicker.fr.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='js/ajouter.js'

%}
     <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
 $('#conference_autreTheme').hide();
 $('#autreThemeLabel').hide();
 $('#autreThemeAide').hide();
 $('#add').hide();
 $('#information').html("");

$('.svg-add').click(function() {
 $('#conference_autreTheme').show();
 $('#autreThemeLabel').show();
 $('#autreThemeAide').show();
 $('#add').show();
 $('#conference_autreTheme').val('');
});

const reg = /^[a-zA-Z\s\']+$/;
$('.svg-ok').click(function() {
  $('#information').html("");
  let autre= $('#conference_autreTheme').val();
  let conversion=autre.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  if (reg.test(conversion))
    {
      if(!$('#conference_theme').find("option:contains('" + conversion  + "')").length){
          $("#conference_theme").append("<option value='" + conversion + "' >"+ conversion +"</option>");
          $('#information').html("<span class='OpenSans' style='color:green'>Le thème "+conversion+" a été ajouté !</span>");
    }
      else
         $('#information').html("<span class='OpenSans'style='color:red'>Le thème "+ conversion +" à déjà été ajouté !</span>");
    }
    else
      { $('#conference_autreTheme').val(''); }
});

/************************ DatePicker *********************/
$('.js-datepicker').fdatepicker({
                    //initialDate: '02-12-1989',
					keyboardNavigation: true,
					leftArrow:'<<',
					rightArrow:'>>',
					closeIcon:'&nbsp;X&nbsp;',
					closeButton: true,
                    ///autoShow: false,
					format: 'yyyy-mm-dd hh:ii:',
					disableDblClickSelection: true,
					language: 'fr',
					pickTime: true
				});

$('.js-timepicker').fdatepicker({
					keyboardNavigation: true,
					leftArrow:'<<',
					rightArrow:'>>',
					closeIcon:'&nbsp;X&nbsp;',
					closeButton: true,
					disableDblClickSelection: true,
					language: 'fr',
                    format: 'hh:ii:',
                    startView: 0,
					pickTime: false
				});

 $( "#conference_start" ).change(function() {
    let start=$( "#conference_start" ).val();
    //let isoDate=new Date(start).toISOString();
    let data={'date': new Date(start).toISOString()};
    console.log(data);

    $.ajax({
            type: 'GET',
            url: "{{ path('verificationConference') }}",
            data: data,
            dataType: 'json',
            timeout: 3000,
            success: function(response)
              {if (response)
                { $("#salle").html("<span class='OpenSans' style='color:"+response.couleur+"'>Classe disponible : "+response.salleDisponible+" ("+response.pourcentage+"%)</span>");
                }},
            error: function()
              {
                $('html,body').animate({scrollTop: $("#resultat").offset().top}, 'slow');
                $("#erreur").html("<span class='OpenSans' style='color:red'>&nbsp;KO</span>");
                $('#resultat').html(
                  '<br />\
                    <div class="grid-container grid-container-padded">\
                    <div class="alert callout grid-x" data-closable="slide-out-right">\
                      <p style="color:#e03522;" class="OpenSans cell">Ooups ! Il y a un problème, je n\'ai pas pu enregistrer la conférence.</p>\
                      <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                    <div>\
                  </div>'
                ).show("slow"); }
       });
 });

</script>

</body>
</html>

