{% if reponse is defined %}
{% set document=false %}
{% for key in reponse %}
 {% if key['0']['MESSAGE'] is defined %}
  <br />
  <p class="OpenSans justify">{{ key['0']['MESSAGE'] }}</p>
 {% else %}
  <br />
  <p class="OpenSans justify">
     J'ai trouvé {{ max }}
     {% if max==1 %} réponse. {% else %} réponses. {%endif%}
  </p>
  {% set document=true %}
 {% endif %}
{% endfor %}
{% endif %}

{% if document==true and etoile==false %}
 <article class="grid-container grid-x">
{% for nbReponse in 0..max-1 %}
{% for key in reponse %}

  {# recherche small #}
  <div class="callout cell show-for-small-only">
   <h3>
      {% if key[nbReponse]['etat'] == 'PROGRAMME' %}
        <span style="font-family: pDensiaSans; color:green">{% trans from "TorahCastBundle" %}conference.etat.programme{% endtrans %}</span>{% endif %}
      {% if key[nbReponse]['etat'] == 'ANNULE' %}
        <span style="font-family: pDensiaSans; color:orange">{% trans from "TorahCastBundle" %}conference.etat.annule{% endtrans %}</span>{% endif %}
      {% if key[nbReponse]['etat'] == 'REPORTE' %}
        <span style="font-family: pDensiaSans; color:red">{% trans from "TorahCastBundle" %}conference.etat.reporte{% endtrans %}</span>{% endif %}
   </h3>

    <h4 id="titre-{{nbReponse}}">
      <span class="livre">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
           <path d="M30.221 7.011V5.029l-.285-.112c-.1-.039-2.429-.943-5.535-.943-3.328 0-6.194 1.014-8.527 3.014-2.332-2-5.199-3.014-8.527-3.014-3.107 0-5.436.904-5.533.943l-.288.112v1.836C.586 7.041 0 7.356 0 7.87v18.918h13.934c.482.431 1.187.703 1.975.703.789 0 1.493-.272 1.975-.703h13.582V7.87c-.001-.418-.476-.691-1.245-.859zM15.723 25.296c-1.156-.479-5.14-1.992-9.13-1.992-1.577 0-2.974.242-4.163.72V5.655a16.158 16.158 0 0 1 4.916-.779c3.064 0 5.697.927 7.847 2.733v10.965l.53-.584v7.306zm13.593-1.267c-1.277-.514-2.744-.772-4.369-.772-3.988 0-7.783 1.528-8.926 2.03v-7.299l.533.586V7.609c2.149-1.807 4.782-2.733 7.846-2.733 2.322 0 4.221.548 4.916.779v18.374z"/>
           <path d="M4.217 8.071l.187.707c4.705-1.248 8.938 1.062 8.981 1.085l.355-.639c-.181-.101-4.528-2.477-9.523-1.153zM4.217 10.141l.187.707c4.705-1.249 8.938 1.061 8.981 1.084l.355-.638c-.181-.102-4.528-2.477-9.523-1.153zM4.217 12.086l.187.707c4.705-1.247 8.938 1.062 8.981 1.085l.355-.639c-.181-.101-4.528-2.476-9.523-1.153zM4.217 14.218l.187.707c4.705-1.248 8.938 1.062 8.981 1.085l.355-.638c-.181-.103-4.528-2.479-9.523-1.154zM4.217 16.193l.187.707c4.705-1.247 8.938 1.062 8.981 1.086l.355-.64c-.181-.1-4.528-2.476-9.523-1.153zM4.217 18.222l.187.707c4.705-1.248 8.938 1.061 8.981 1.084l.355-.639c-.181-.101-4.528-2.475-9.523-1.152zM4.217 20.257l.187.706c4.705-1.248 8.938 1.062 8.981 1.085l.355-.637c-.181-.103-4.528-2.479-9.523-1.154zM18.578 9.917c.043-.023 4.275-2.332 8.98-1.085l.188-.707c-4.996-1.323-9.342 1.053-9.523 1.154l.355.638zM18.223 11.349l.355.638c.043-.023 4.275-2.333 8.98-1.084l.188-.708c-4.996-1.324-9.342 1.051-9.523 1.154zM18.223 13.293l.355.639c.043-.024 4.275-2.333 8.98-1.086l.188-.707c-4.996-1.322-9.342 1.053-9.523 1.154zM18.223 15.426l.355.638c.043-.023 4.275-2.332 8.98-1.084l.188-.707c-4.996-1.326-9.342 1.05-9.523 1.153zM18.223 17.401l.355.64c.043-.023 4.275-2.333 8.98-1.086l.188-.707c-4.996-1.323-9.342 1.051-9.523 1.153zM18.223 19.43l.355.638c.043-.023 4.275-2.332 8.98-1.084l.188-.707c-4.996-1.324-9.342 1.051-9.523 1.153zM18.223 21.464l.355.637c.043-.021 4.275-2.333 8.98-1.084l.188-.707c-4.996-1.324-9.342 1.053-9.523 1.154z"/>
        </svg>
      </span>{{key[nbReponse]['titre']}}
    </h4>

    <h4>
      <span class="intervenant">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="30" height="30">
          <path d="M16.272 24.635c.241-.07.506-.146.788-.229v6.518a93.864 93.864 0 0 1 6.066-.247l1.514-11.809h-.018l-.726-1.444c-5.238.275-10.946 2.326-11.203 2.418-.157.055-.279.166-.423.245-.146.09-.299.162-.435.263-.159.144-.273.308-.397.474-.095.128-.208.242-.279.39-.101.184-.147.394-.199.597-.033.134-.107.237-.121.382L9.762 31.91c1.423-.321 3.312-.639 5.8-.868l.71-6.407zM24.999 16.823c3.957 0 7.169-4.597 7.169-8.559a7.17 7.17 0 0 0-14.34 0c0 3.963 3.207 8.559 7.171 8.559z"/>
          <path d="M36.295 30.557l-2.09-1.646.236 2.135c.709.065 1.412.134 2.067.215l-.213-.704z" fill="#00445b"/>
          <path d="M32.943 27.925l-4.119-3.223a2.666 2.666 0 0 1-2.792-.597l.841 6.572c2.189.027 4.213.108 6.07.25v-3.002zM25.375 18.868h-.016l.25 1.952c.474-.791 1.298-1.346 2.279-1.346a2.697 2.697 0 0 1 2.696 2.686l8.312 6.507.215.533.787 2.628c.125.021.224.05.342.08l-1.081-9.717c-.013-.145-.089-.254-.126-.393-.049-.195-.092-.402-.186-.582-.08-.151-.193-.277-.296-.404-.12-.158-.229-.319-.381-.454-.142-.114-.302-.191-.456-.271-.145-.083-.248-.193-.404-.245-.259-.092-5.968-2.143-11.209-2.418l-.726 1.444z"/>
          <path d="M43.51 34.359s-.957-.789-4.582-1.469l-1-3.341a.313.313 0 0 0-.103-.155l-8.577-6.712c.062-.16.105-.329.105-.512 0-.805-.654-1.459-1.467-1.459a1.461 1.461 0 1 0 1.031 2.493l8.449 6.619.88 2.946c-2.81-.478-7.002-.879-13.249-.879-15.509 0-18.513 2.467-18.513 2.467v5.033H43.51v-5.031zM0 42.631l3.702 6.275h42.592L50 42.631v-2.11H0z"/>
        </svg>
      </span>
      <span>{{ key[nbReponse]['intervenant'] }}</span>
      {% if key[nbReponse]['langue'] == 'fr' %}
        <span class="fr">&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18">
             <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM267 212q-71 0-102 46t-31 150v410h101V606h231V456H235v-42q0-32 7.5-42.5T271 361h195V212H267zm248 0v606h101V361h125q15 0 22 8t7 24v36q0 16-7 23t-22 7h-88v143h79q12 0 20 15t12 42l21 159h108l-31-203q-6-41-15-58t-26-25q27-10 39-36 12-25 12-73v-68q0-72-32.5-107.5T741 212H515z"/>
          </svg>
        </span>
      {% endif %}
      {% if key[nbReponse]['langue'] == 'en' %}
        <span class="en">&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18">
            <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zm69 202q-51 0-82 48-31 47-31 125v451h90V412q0-25 6.5-39t16.5-14q12 0 19 14t11 45l32 267q10 78 38.5 117.5T772 842q51 0 82-47 31-48 31-126V218h-91v421q0 24-6 38t-16 14q-12 0-19-13.5T742 634l-33-269q-9-78-37.5-117.5T596 208zm-352 10q-64 0-92 47t-28 153v215q0 106 28 153 28 46 92 46h179V683H248q-20 0-26.5-10t-6.5-41v-35h208V448H215v-29q0-31 7-41 6-10 26-10h175V218H244z"/>
          </svg>
        </span>
      {% endif %}
      {% if key[nbReponse]['langue'] == 'he' %}
        <span class="he">&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="18" height="18">
            <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-30-45-53-115.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM126 218v614h101V588h170v244h101V218H397v219H227V218H126zm569 0q-71 0-102 47t-31 153v215q0 106 31 153 31 46 102 46h200V683H700q-22 0-29-10t-7-41v-35h231V448H664v-29q0-31 7-41t29-10h195V218H695z"/>
          </svg>
        </span>
      {% endif %}
    </h4>

    <p class='OpenSans' style='color:#00445b;'>
      <span class="homme">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 482.974 482.974" width="30" height="30">
          <path d="M155.504 204.774c4.4 28.6 26.5 65 62.8 77.8 14.9 5.2 31.2 5.3 46.1-.1 35.7-12.9 58.5-49.2 63-77.7 4.8-.4 11.1-7.1 17.9-31.2 9.3-32.9-.6-37.8-9-37 1.6-4.5 2.8-9.1 3.6-13.5 14.2-85.3-27.8-88.2-27.8-88.2s-7-13.4-25.3-23.5c-12.3-7.3-29.4-12.9-51.9-11-7.3.3-14.2 1.8-20.7 3.9-8.3 2.8-15.9 6.9-22.8 11.7-8.4 5.3-16.4 11.9-23.4 19.4-11.1 11.4-21 26.1-25.3 44.4-3.6 13.7-2.8 28 .2 43.4.8 4.5 2 9 3.6 13.5-8.4-.8-18.3 4.1-9 37 6.9 24 13.2 30.7 18 31.1z"/>
          <path d="M406.404 316.674c-51.1-13-92.6-42.2-92.6-42.2l-32.4 102.5-6.1 19.3-.1-.3-5.3 16.4-17.1-48.5c42-58.6-8.5-58-11.3-57.9-2.8-.1-53.3-.7-11.3 57.9l-17.1 48.5-5.3-16.4-.1.3-6.1-19.3-32.5-102.5s-41.5 29.2-92.6 42.2c-38.1 9.7-39.9 53.7-38.4 75.4 0 0 2.2 29.5 4.4 42.5 0 0 74.4 48.3 199 48.4 124.6 0 199-48.4 199-48.4 2.2-13 4.4-42.5 4.4-42.5 1.4-21.7-.4-65.7-38.5-75.4z"/>
        </svg>
      </span>&nbsp;|&nbsp;
      <span class="femme">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M224.274 240.756c-41.43-8.485-72.646-45.149-72.646-89.127 0-33.302 18.094-62.1 44.778-77.959 8.499 18.316 25.856 37.031 49.753 50.848 31.332 18.078 64.558 22.535 86.119 13.903.653 4.354 1.307 8.679 1.307 13.208 0 43.978-31.162 80.643-72.619 89.127 58.222-8.9 102.941-58.74 102.941-119.452C363.908 54.315 309.598 0 242.606 0c-66.961 0-121.302 54.315-121.302 121.304 0 60.712 44.776 110.551 102.97 119.452zM333.586 272.93h-15.163c0 41.878-33.943 75.817-75.816 75.817-41.875 0-75.812-33.939-75.812-75.817h-15.166c-50.227 0-90.978 40.726-90.978 90.976v90.98c0 16.764 13.565 30.326 30.327 30.326h303.258c16.759 0 30.326-13.562 30.326-30.326v-90.98c0-50.25-40.693-90.976-90.976-90.976z"/>
        </svg>
      </span>
      {{key[nbReponse]['participant']|capitalize}}
    </p>

    <p id='theme-{{nbReponse}}' class='OpenSans' style='color:#00445b;'>
      <span class="hashtag">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M42.924 14.473c-.6-.2-2.9-.1-3.4-.3s3.3-9.6 3.4-10-.5-2.6-.7-3c-.3-.5-1-1-2-1s-6.3-.5-7 .2-4.5 13-4.6 13.4-1.2.1-1.6-.1c-.5-.2 2.3-9 2.4-9.4s-.5-2.4-1.1-2.8c-.6-.5-9.2-.8-9.7-.4-.6.4-4.4 11.9-4.6 12.3-.2.4-3-.3-3.4-.4-.5-.1-2 .5-2.3.9-.3.5-2.1 5.1-2.1 5.7 0 .6 0 2 .6 2.4s3.7.1 4 .3-.2 1.6-.4 2.1c-.2.6-.2.1-.8.1s-4.5-.3-4.8-.2-2.9 5.8-3 6.2 1.2 2.8 1.4 3 4-.3 4.5.3-3.2 8.7-3.3 9.3c-.2.6.8 2.6 1.1 2.8s1.2 0 1.8 0 7.5.3 8.2.1c.7-.3 5.1-12.6 5.4-12.9.3-.4 1.3-.1 1.5.2s-3.7 9.1-3.8 9.5.5 2.1.8 2.3 8.7.2 9.8 0 5.1-12.2 5.2-12.5 3.7-.2 4.1-.3 3-4.2 3-4.4-.5-2.5-.8-2.8-5.6-.3-6-.5.6-2.4 1-2.8 5.2.2 6.2-.1c1-.2 2.3-5.9 2.3-5.9s-.7-1.1-1.3-1.3zm-2.2 5c-.5 0-4.9-.6-5.3-.3-.3.3-1.7 3.8-1.9 4.5-.1.7.1 1.7.7 1.8.5.1 3.7.1 4.3.2h1s-1 3.1-1.1 2.7c-.1-.4-1-2-1.4-1.9-.3 0-.6.3-.5.5s1.4 1.9 1.3 2.3-.4 1-.6.8-2.1-3.5-2.3-3.5-.7.3-.5.5 1.8 3 1.7 3c-.1 0-.5.3-.6 0s-2.2-3.7-2.4-3.8-.6-.1-.4.4c.2.4 2.1 3.4 1.9 3.4-.1 0-.8.3-1.1 0-.2-.4-2.4-4-2.7-4-.3 0-.7.1-.5.5s2.4 3.4 2.2 3.4c-.2.1-.8.2-.8.2s0 .5-.1.3-2.9-4.5-3-4.4-.6.7-.4.9c.2.1 3.1 4.2 3.1 4.3s-.5 2.2-.7 1.8c-.2-.3-3-4.6-3.2-4.7-.2 0-.6.6-.4.8s3.2 4.5 3.2 4.7-.3 2-.6 1.5-2.9-4.9-3.1-4.6-.4.8-.3 1 3 4.2 3 4.5-.1 1.3-.2 1.2c-.1-.2-3.1-4.3-3.3-4.3s-.6.5-.5.7c.2.2 3.4 4.2 3.4 4.6 0 .3-.3 1.7-.5 1.5s-2.7-3.8-3-3.8-.6.2-.4.6c.2.4 2.8 3.5 2.8 4.1s-.1 1.2-.4 1.2-.6.3-.8.1-2.6-3.8-2.8-3.8c-.2-.1-.5.1-.4.3 0 .2 2.9 3.8 2.4 3.8s-1 .1-1.2 0-1.8-2.9-2.1-2.8c-.3.1-.8.3-.5.7.3.3 2 2.2 1.6 2.2s-3.2.1-3.2-.2 3.8-10.1 4.1-11c.2-.9 0-1.3-.4-1.4s-4.1-.4-4.3-.3c-.3 0-1 2.5-1.1 2.5-.1-.1-2.8-4.4-3.1-4.5-.3-.1-.7.4-.6.7.2.2 3.2 4.9 3.1 5.2s-.5 1.3-.6.9c-.1-.4-2.8-4.9-3.1-4.8-.3.1-.5.4-.3.8s3.1 4.7 3.2 5 .1 1.8-.2 1.1c-.3-.7-3-5.2-3.3-5.2s-.6.2-.4.8 3.6 5.2 3.6 5.3-.3 1.3-.4 1.1-3.8-5.7-4.1-5.4c-.3.3-.4.5-.3 1 .1.4 3.9 4.7 3.8 5.2 0 .5-.1 1.7-.4 1.5s-3.6-5.6-3.9-5.5-.7.6-.6.7c.1.2 4.1 5.5 4.1 5.8 0 .2-.2 1-.5.9s-4-5.2-4.2-5.1c-.2.1-.3.8-.3.9.1.1 3.7 4.4 3.6 4.5s-.9.2-1.2.1-3.1-3.7-3.2-3.7-.8.6-.6.8c.2.3 2.3 2.6 2.1 2.7-.2 0-1.2 0-1.3-.2s-1.5-2.4-1.7-2.1c-.3.3-.5.3-.3.6s1.3 1.3 1 1.4c-.3.1-2.6.4-2.6.2s3.5-9.4 3.8-10.3c.3-.9.6-1.6-.1-1.6-.6 0-6.1.1-6-.5.2-.5 1.3-5 1.9-5s5.2.5 5.8.1c.6-.4 1.3-3.5 1.4-4.5s.2-1.3-.1-1.5c-.3-.2-3.2-.3-3.8-.3-.6 0-1.1.1-1.1-.1s1.6-4.7 2-4.9c.3-.2 4.1.3 4.8.3.6 0 1-1.4 1.8-3.5s3-8.9 3.3-8.9c.5-.1 7.8.4 7.9.5.2.1-1.5 6.6-2.1 8.2s-1 3.7-.7 4 2.1.4 2.7.5 2.1.3 2.6-.8 4-12.6 4.3-12.9c.2-.3 6-.2 6.3-.1.4.1.2 1.5.2 1.7s-4.2 11.2-3.6 11.8 2.9.6 3.4.6c.4 0 1.8-.1 1.9.3.1 0-1 3.5-1.6 3.5zm-15.8.3c-.7-.1-2-.1-2.3.2-.3.4-1.7 4.6-1.5 5.1s3.8.6 4.4.6c.6-.1 1.4-4.2 1.7-4.9.3-.8-1.6-.9-2.3-1zm.2 4.7c-.3 0-1.6.1-1.7-.1s.8-2.7.8-2.7c.2-.1 1.4.1 1.5.3.2.2-.3 2.5-.6 2.5zm-6.7 5.4c.1-.3-.9-2.3-1-2.4-.2-.1-.7-.2-.7.1s1.3 2.7 1.6 2.9c.2.1 0-.3.1-.6zm-8.6-14.6c-.6-.1-1.4 2.4-1.2 2.7.2.2.1.5.6.4.6-.1.7-1.3.7-1.8.1-.5 2.8.3 3.2.3.3 0 .4-.4.5-.9s-3.1-.6-3.8-.7zm13.5-10.8c.4 0 .4-.7.2-1-.2-.4-2.9-.3-3.2-.3-.3 0-2.2 5.9-2.1 6.2 0 .2.6.4.9.3.4-.1 1.4-4.7 1.5-5.2.1-.5 2.3-.1 2.7 0zm10.9-1.6c-.3.2-1.4 4.3-1.2 4.6.1.2.5.1.8 0s.9-3 .9-3.4c.1-.4 1-.2 1.3-.3s.3-.6.1-.7c-.2-.2-1.6-.3-1.9-.2z"/>
        </svg>
      </span>{{key[nbReponse]['theme']}}<br />
      <span class="date">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
        <path d="M27.96 1.375h-.682V1a1 1 0 1 0-2 0v.375h-1.837V1a1 1 0 0 0-2 0v.375h-1.837V1a1 1 0 1 0-2 0v.375h-1.837V1a1 1 0 0 0-2 0v.375H11.93V1a1 1 0 0 0-2 0v.375H8.094V1a1 1 0 0 0-2 0v.375h-.682A4.731 4.731 0 0 0 .687 6.101v22.547a4.733 4.733 0 0 0 4.727 4.727H27.96a4.733 4.733 0 0 0 4.728-4.727V6.101a4.733 4.733 0 0 0-4.728-4.726zM25.78 1a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zM6.595 1a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm23.684 27.648a2.32 2.32 0 0 1-2.318 2.317H5.414a2.32 2.32 0 0 1-2.318-2.317V6.101a2.32 2.32 0 0 1 2.318-2.318h.682v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.561 1.561 0 0 0 3.121 0c0-.478-.222-.9-.561-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.121 0c0-.478-.221-.9-.561-1.187V3.783h.682a2.32 2.32 0 0 1 2.317 2.318l-.001 22.547z"/>
       <path d="M11.322 13.089h4.596v4.089h-4.596zM17.458 13.089h4.595v4.089h-4.595zM23.591 13.089h4.596v4.089h-4.596zM5.187 18.547h4.596v4.086H5.187zM11.322 18.547h4.596v4.086h-4.596zM17.458 18.547h4.595v4.086h-4.595zM23.591 18.547h4.596v4.086h-4.596zM5.187 24.003h4.596v4.086H5.187zM11.322 24.003h4.596v4.086h-4.596zM17.458 24.003h4.595v4.086h-4.595z"/>
       </svg>
      </span> {{ key[nbReponse]['date'] | localizeddate('full', 'short', app.request.locale ) }}<br />
     <span class="montre">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
        <path d="M190 0C85.232 0 0 85.234 0 190s85.232 190 190 190c104.767 0 190-85.232 190-190C380 85.233 294.767 0 190 0zm79.9 316.893l-8.188-14.084a5.322 5.322 0 0 0-4.587-2.635 5.2 5.2 0 0 0-2.648.719 5.254 5.254 0 0 0-2.458 3.222 5.28 5.28 0 0 0 .542 4.017l8.199 14.102a148.923 148.923 0 0 1-60.76 17.43V319.77c0-5.521-4.479-10-10-10-5.522 0-10 4.479-10 10v19.891a148.887 148.887 0 0 1-59.949-17.002l8.111-14.149a5.258 5.258 0 0 0 .517-4.018 5.257 5.257 0 0 0-2.475-3.205 5.212 5.212 0 0 0-2.624-.704 5.321 5.321 0 0 0-4.603 2.663l-8.102 14.133a151.212 151.212 0 0 1-45.447-43.908l17.188-9.923c4.782-2.761 6.421-8.877 3.659-13.66-2.761-4.781-8.877-6.421-13.659-3.658l-17.212 9.937c-9.056-18.349-14.466-38.8-15.284-60.41l16.33-.05a5.256 5.256 0 0 0 3.737-1.561 5.259 5.259 0 0 0 1.538-3.748 5.303 5.303 0 0 0-5.293-5.277l-16.348.05c.699-21.949 6.136-42.72 15.319-61.327l17.212 9.937a9.996 9.996 0 0 0 13.659-3.66c2.762-4.783 1.123-10.899-3.659-13.66l-17.188-9.923a151.174 151.174 0 0 1 44.671-43.424l8.188 14.084a5.228 5.228 0 0 0 1.935 1.929 5.344 5.344 0 0 0 5.299-.013 5.255 5.255 0 0 0 2.458-3.223 5.256 5.256 0 0 0-.541-4.013l-8.198-14.102a148.905 148.905 0 0 1 60.76-17.43v19.889c0 5.522 4.478 10 10 10 5.521 0 10-4.478 10-10V40.346a148.882 148.882 0 0 1 59.947 17.001l-8.111 14.149a5.3 5.3 0 0 0 4.583 7.927c1.897 0 3.66-1.02 4.6-2.661l8.104-14.135a151.187 151.187 0 0 1 45.449 43.909l-17.188 9.923c-4.783 2.761-6.421 8.877-3.659 13.66a9.998 9.998 0 0 0 13.659 3.66l17.212-9.938c9.058 18.348 14.466 38.8 15.284 60.41l-16.33.05a5.248 5.248 0 0 0-3.735 1.561 5.257 5.257 0 0 0-1.538 3.747 5.315 5.315 0 0 0 2.668 4.583 5.274 5.274 0 0 0 2.623.693h.017l16.333-.05c-.699 21.949-6.136 42.721-15.319 61.327l-17.212-9.938c-4.784-2.762-10.896-1.122-13.659 3.66-2.762 4.782-1.124 10.898 3.659 13.659l17.188 9.923a151.255 151.255 0 0 1-44.674 43.427z"/>
        <path d="M263.906 135.775l-64.142 35.588a20.941 20.941 0 0 0-9.767-2.412c-3.528 0-6.846.878-9.766 2.412l-64.141-35.588c-6.064-3.366-13.711-1.176-17.078 4.889-3.364 6.065-1.176 13.711 4.891 17.077l65.443 36.311c1.891 9.686 10.412 16.997 20.65 16.997s18.76-7.312 20.65-16.997l65.441-36.311c6.066-3.365 8.254-11.011 4.891-17.077-3.36-6.066-11.005-8.255-17.072-4.889z"/>
      </svg>
     </span> {{ key[nbReponse]['duree']}}
    </p>
  </div>

  {# recherche medium #}
  <div class="callout cell show-for-medium">
    <h3>
      {% if key[nbReponse]['etat'] == 'PROGRAMME' %}
        <span style="font-family: pDensiaSans; color:green">{% trans from "TorahCastBundle" %}conference.etat.programme{% endtrans %}</span>{% endif %}
      {% if key[nbReponse]['etat'] == 'ANNULE' %}
        <span style="font-family: pDensiaSans; color:orange">{% trans from "TorahCastBundle" %}conference.etat.annule{% endtrans %}</span>{% endif %}
      {% if key[nbReponse]['etat'] == 'REPORTE' %}
        <span style="font-family: pDensiaSans; color:red">{% trans from "TorahCastBundle" %}conference.etat.reporte{% endtrans %}</span>{% endif %}
     </h3>

    <h4 id="titre-{{nbReponse}}"><b>Titre :</b> {{key[nbReponse]['titre']}}</h4>
    <h4><b>Intervenant :</b> {{key[nbReponse]['intervenant']|capitalize}}</h4>
    <p class='OpenSans' style='color:#00445b;'><b>Public :</b> {{key[nbReponse]['participant']|capitalize}}
     {% if key[nbReponse]['langue'] == 'fr' %}
     <span class='fr'>&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
        <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM267 212q-71 0-102 46t-31 150v410h101V606h231V456H235v-42q0-32 7.5-42.5T271 361h195V212H267zm248 0v606h101V361h125q15 0 22 8t7 24v36q0 16-7 23t-22 7h-88v143h79q12 0 20 15t12 42l21 159h108l-31-203q-6-41-15-58t-26-25q27-10 39-36 12-25 12-73v-68q0-72-32.5-107.5T741 212H515z"/>
      </svg>
     </span>
    {% endif %}
     {% if key[nbReponse]['langue'] == 'en' %}
       <span class="en">&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zm69 202q-51 0-82 48-31 47-31 125v451h90V412q0-25 6.5-39t16.5-14q12 0 19 14t11 45l32 267q10 78 38.5 117.5T772 842q51 0 82-47 31-48 31-126V218h-91v421q0 24-6 38t-16 14q-12 0-19-13.5T742 634l-33-269q-9-78-37.5-117.5T596 208zm-352 10q-64 0-92 47t-28 153v215q0 106 28 153 28 46 92 46h179V683H248q-20 0-26.5-10t-6.5-41v-35h208V448H215v-29q0-31 7-41 6-10 26-10h175V218H244z"/>
        </svg>
       </span>
     {% endif %}
     {% if key[nbReponse]['langue'] == 'he' %}
       <span class="he">&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1025 1024" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-30-45-53-115.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM126 218v614h101V588h170v244h101V218H397v219H227V218H126zm569 0q-71 0-102 47t-31 153v215q0 106 31 153 31 46 102 46h200V683H700q-22 0-29-10t-7-41v-35h231V448H664v-29q0-31 7-41t29-10h195V218H695z"/>
        </svg>
       </span>
     {% endif %}
    </p>

    <p id='theme-{{nbReponse}}' class='OpenSans' style='color:#00445b;'>
      <b>Theme :</b> {{key[nbReponse]['theme']}}&nbsp;
      <b>Date :</b>
      <span><img class="pays" style="margin-top:-7px" src="/images/static/pays/{{ key[nbReponse]['pays'] }}.png"
                alt="{{ key[nbReponse]['pays']|capitalize }}" />
      </span>
      <span>{{ key[nbReponse]['date'] | localizeddate('full', 'short', key[nbReponse]['timezoneCode'] )|capitalize }}</span>
      <b>Durée :</b> {{ key[nbReponse]['duree']}}
    </p>
  </div>
 {% endfor %}
 {% endfor %}
  </article>
 {% endif %}

 {# recherche liste #}
{% if document==true and etoile==true %}
 {% for nbReponse in 0..max-1 %}
 {% for key in reponse %}
  <div class="grid-x">
  <div class="callout callout-hover-reveal small-12 medium-12 large-12 cell" data-callout-hover-reveal>
  <div class="callout-body">
    <h3>
      {% if key[nbReponse]['etat'] == 'PROGRAMME' %}
        <span style="font-family: pDensiaSans; color:green">{% trans from "TorahCastBundle" %}conference.etat.programme{% endtrans %}</span>{% endif %}
      {% if key[nbReponse]['etat'] == 'ANNULE' %}
        <span style="font-family: pDensiaSans; color:orange">{% trans from "TorahCastBundle" %}conference.etat.annule{% endtrans %}</span>{% endif %}
      {% if key[nbReponse]['etat'] == 'REPORTE' %}
        <span style="font-family: pDensiaSans; color:red">{% trans from "TorahCastBundle" %}conference.etat.reporte{% endtrans %}</span>{% endif %}

        <span class="svg-details" data-callout="nb-{{nbReponse}}">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
            <path d="M0 102h102V0H0v102zm153 306h102V306H153v102zM0 408h102V306H0v102zm0-153h102V153H0v102zm153 0h102V153H153v102zM306 0v102h102V0H306zM153 102h102V0H153v102zm153 153h102V153H306v102zm0 153h102V306H306v102z"/>
          </svg>
        </span>
     </h3>

     <h4>
      <span class="livre">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M30.221 7.011V5.029l-.285-.112c-.1-.039-2.429-.943-5.535-.943-3.328 0-6.194 1.014-8.527 3.014-2.332-2-5.199-3.014-8.527-3.014-3.107 0-5.436.904-5.533.943l-.288.112v1.836C.586 7.041 0 7.356 0 7.87v18.918h13.934c.482.431 1.187.703 1.975.703.789 0 1.493-.272 1.975-.703h13.582V7.87c-.001-.418-.476-.691-1.245-.859zM15.723 25.296c-1.156-.479-5.14-1.992-9.13-1.992-1.577 0-2.974.242-4.163.72V5.655a16.158 16.158 0 0 1 4.916-.779c3.064 0 5.697.927 7.847 2.733v10.965l.53-.584v7.306zm13.593-1.267c-1.277-.514-2.744-.772-4.369-.772-3.988 0-7.783 1.528-8.926 2.03v-7.299l.533.586V7.609c2.149-1.807 4.782-2.733 7.846-2.733 2.322 0 4.221.548 4.916.779v18.374z"/>
          <path d="M4.217 8.071l.187.707c4.705-1.248 8.938 1.062 8.981 1.085l.355-.639c-.181-.101-4.528-2.477-9.523-1.153zM4.217 10.141l.187.707c4.705-1.249 8.938 1.061 8.981 1.084l.355-.638c-.181-.102-4.528-2.477-9.523-1.153zM4.217 12.086l.187.707c4.705-1.247 8.938 1.062 8.981 1.085l.355-.639c-.181-.101-4.528-2.476-9.523-1.153zM4.217 14.218l.187.707c4.705-1.248 8.938 1.062 8.981 1.085l.355-.638c-.181-.103-4.528-2.479-9.523-1.154zM4.217 16.193l.187.707c4.705-1.247 8.938 1.062 8.981 1.086l.355-.64c-.181-.1-4.528-2.476-9.523-1.153zM4.217 18.222l.187.707c4.705-1.248 8.938 1.061 8.981 1.084l.355-.639c-.181-.101-4.528-2.475-9.523-1.152zM4.217 20.257l.187.706c4.705-1.248 8.938 1.062 8.981 1.085l.355-.637c-.181-.103-4.528-2.479-9.523-1.154zM18.578 9.917c.043-.023 4.275-2.332 8.98-1.085l.188-.707c-4.996-1.323-9.342 1.053-9.523 1.154l.355.638zM18.223 11.349l.355.638c.043-.023 4.275-2.333 8.98-1.084l.188-.708c-4.996-1.324-9.342 1.051-9.523 1.154zM18.223 13.293l.355.639c.043-.024 4.275-2.333 8.98-1.086l.188-.707c-4.996-1.322-9.342 1.053-9.523 1.154zM18.223 15.426l.355.638c.043-.023 4.275-2.332 8.98-1.084l.188-.707c-4.996-1.326-9.342 1.05-9.523 1.153zM18.223 17.401l.355.64c.043-.023 4.275-2.333 8.98-1.086l.188-.707c-4.996-1.323-9.342 1.051-9.523 1.153zM18.223 19.43l.355.638c.043-.023 4.275-2.332 8.98-1.084l.188-.707c-4.996-1.324-9.342 1.051-9.523 1.153zM18.223 21.464l.355.637c.043-.021 4.275-2.333 8.98-1.084l.188-.707c-4.996-1.324-9.342 1.053-9.523 1.154z"/>
        </svg>
      </span>
      <span>{{key[nbReponse]['titre']}}</span>
      <span class="svg-ajouter panier-{{nbReponse}}" data-numconference="{{nbReponse}}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25" height="25">
          <path d="M394 154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414C242.488 2.666 236.02 0 228.398 0h-54.812c-7.612 0-14.084 2.663-19.414 7.993-5.33 5.33-7.994 11.803-7.994 19.414v118.775H27.407c-7.611 0-14.084 2.664-19.414 7.994S0 165.973 0 173.589v54.819c0 7.618 2.662 14.086 7.992 19.411 5.33 5.332 11.803 7.994 19.414 7.994h118.771V374.59c0 7.611 2.664 14.089 7.994 19.417 5.33 5.325 11.802 7.987 19.414 7.987h54.816c7.617 0 14.086-2.662 19.417-7.987 5.332-5.331 7.994-11.806 7.994-19.417V255.813h118.77c7.618 0 14.089-2.662 19.417-7.994 5.329-5.325 7.994-11.793 7.994-19.411v-54.819c-.002-7.616-2.661-14.087-7.993-19.414z"/>
        </svg>
      </span>
      <span class="float-right" id="ajouter-{{nbReponse}}" data-id='{{key[nbReponse]['id']}}'><strong>Ajouter</strong></span>
    </h4>
  </div>

  <div class="callout-footer nb-{{nbReponse}}">
    <p class='OpenSans' style='color:#00445b;'>
      <span class="intervenant">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M16.272 24.635c.241-.07.506-.146.788-.229v6.518a93.864 93.864 0 0 1 6.066-.247l1.514-11.809h-.018l-.726-1.444c-5.238.275-10.946 2.326-11.203 2.418-.157.055-.279.166-.423.245-.146.09-.299.162-.435.263-.159.144-.273.308-.397.474-.095.128-.208.242-.279.39-.101.184-.147.394-.199.597-.033.134-.107.237-.121.382L9.762 31.91c1.423-.321 3.312-.639 5.8-.868l.71-6.407zM24.999 16.823c3.957 0 7.169-4.597 7.169-8.559a7.17 7.17 0 0 0-14.34 0c0 3.963 3.207 8.559 7.171 8.559zM36.295 30.557l-2.09-1.646.236 2.135c.709.065 1.412.134 2.067.215l-.213-.704zM32.943 27.925l-4.119-3.223a2.666 2.666 0 0 1-2.792-.597l.841 6.572c2.189.027 4.213.108 6.07.25v-3.002zM25.375 18.868h-.016l.25 1.952c.474-.791 1.298-1.346 2.279-1.346a2.697 2.697 0 0 1 2.696 2.686l8.312 6.507.215.533.787 2.628c.125.021.224.05.342.08l-1.081-9.717c-.013-.145-.089-.254-.126-.393-.049-.195-.092-.402-.186-.582-.08-.151-.193-.277-.296-.404-.12-.158-.229-.319-.381-.454-.142-.114-.302-.191-.456-.271-.145-.083-.248-.193-.404-.245-.259-.092-5.968-2.143-11.209-2.418l-.726 1.444z"/>
          <path d="M43.51 34.359s-.957-.789-4.582-1.469l-1-3.341a.313.313 0 0 0-.103-.155l-8.577-6.712c.062-.16.105-.329.105-.512 0-.805-.654-1.459-1.467-1.459a1.461 1.461 0 1 0 1.031 2.493l8.449 6.619.88 2.946c-2.81-.478-7.002-.879-13.249-.879-15.509 0-18.513 2.467-18.513 2.467v5.033H43.51v-5.031zM0 42.631l3.702 6.275h42.592L50 42.631v-2.11H0z"/>
        </svg>
      </span>
      <span>{{key[nbReponse]['intervenant']}}</span>
      {% if key[nbReponse]['langue'] == 'fr' %}
       <span class='fr'>&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM267 212q-71 0-102 46t-31 150v410h101V606h231V456H235v-42q0-32 7.5-42.5T271 361h195V212H267zm248 0v606h101V361h125q15 0 22 8t7 24v36q0 16-7 23t-22 7h-88v143h79q12 0 20 15t12 42l21 159h108l-31-203q-6-41-15-58t-26-25q27-10 39-36 12-25 12-73v-68q0-72-32.5-107.5T741 212H515z"/>
        </svg>
       </span>
      {% endif %}
      {% if key[nbReponse]['langue'] == 'en' %}
       <span class="en">&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zm69 202q-51 0-82 48-31 47-31 125v451h90V412q0-25 6.5-39t16.5-14q12 0 19 14t11 45l32 267q10 78 38.5 117.5T772 842q51 0 82-47 31-48 31-126V218h-91v421q0 24-6 38t-16 14q-12 0-19-13.5T742 634l-33-269q-9-78-37.5-117.5T596 208zm-352 10q-64 0-92 47t-28 153v215q0 106 28 153 28 46 92 46h179V683H248q-20 0-26.5-10t-6.5-41v-35h208V448H215v-29q0-31 7-41 6-10 26-10h175V218H244z"/>
        </svg>
       </span>
      {% endif %}
      {% if key[nbReponse]['langue'] == 'he' %}
       <span class="he">&nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-30-45-53-115.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM126 218v614h101V588h170v244h101V218H397v219H227V218H126zm569 0q-71 0-102 47t-31 153v215q0 106 31 153 31 46 102 46h200V683H700q-22 0-29-10t-7-41v-35h231V448H664v-29q0-31 7-41t29-10h195V218H695z"/>
        </svg>
       </span>
      {% endif %}
    </p>

    <p class='OpenSans' style='color:#00445b;'>
      <span class="homme">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M155.504 204.774c4.4 28.6 26.5 65 62.8 77.8 14.9 5.2 31.2 5.3 46.1-.1 35.7-12.9 58.5-49.2 63-77.7 4.8-.4 11.1-7.1 17.9-31.2 9.3-32.9-.6-37.8-9-37 1.6-4.5 2.8-9.1 3.6-13.5 14.2-85.3-27.8-88.2-27.8-88.2s-7-13.4-25.3-23.5c-12.3-7.3-29.4-12.9-51.9-11-7.3.3-14.2 1.8-20.7 3.9-8.3 2.8-15.9 6.9-22.8 11.7-8.4 5.3-16.4 11.9-23.4 19.4-11.1 11.4-21 26.1-25.3 44.4-3.6 13.7-2.8 28 .2 43.4.8 4.5 2 9 3.6 13.5-8.4-.8-18.3 4.1-9 37 6.9 24 13.2 30.7 18 31.1z"/>
          <path d="M406.404 316.674c-51.1-13-92.6-42.2-92.6-42.2l-32.4 102.5-6.1 19.3-.1-.3-5.3 16.4-17.1-48.5c42-58.6-8.5-58-11.3-57.9-2.8-.1-53.3-.7-11.3 57.9l-17.1 48.5-5.3-16.4-.1.3-6.1-19.3-32.5-102.5s-41.5 29.2-92.6 42.2c-38.1 9.7-39.9 53.7-38.4 75.4 0 0 2.2 29.5 4.4 42.5 0 0 74.4 48.3 199 48.4 124.6 0 199-48.4 199-48.4 2.2-13 4.4-42.5 4.4-42.5 1.4-21.7-.4-65.7-38.5-75.4z"/>
        </svg>
      </span>&nbsp;|&nbsp;
      <span class="femme">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M224.274 240.756c-41.43-8.485-72.646-45.149-72.646-89.127 0-33.302 18.094-62.1 44.778-77.959 8.499 18.316 25.856 37.031 49.753 50.848 31.332 18.078 64.558 22.535 86.119 13.903.653 4.354 1.307 8.679 1.307 13.208 0 43.978-31.162 80.643-72.619 89.127 58.222-8.9 102.941-58.74 102.941-119.452C363.908 54.315 309.598 0 242.606 0c-66.961 0-121.302 54.315-121.302 121.304 0 60.712 44.776 110.551 102.97 119.452zM333.586 272.93h-15.163c0 41.878-33.943 75.817-75.816 75.817-41.875 0-75.812-33.939-75.812-75.817h-15.166c-50.227 0-90.978 40.726-90.978 90.976v90.98c0 16.764 13.565 30.326 30.327 30.326h303.258c16.759 0 30.326-13.562 30.326-30.326v-90.98c0-50.25-40.693-90.976-90.976-90.976z"/>
        </svg>
      </span>
      {{key[nbReponse]['participant']|capitalize}}
    </p>

    <p class='OpenSans' style='color:#00445b;'>
      <span class="hashtag">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M42.924 14.473c-.6-.2-2.9-.1-3.4-.3s3.3-9.6 3.4-10-.5-2.6-.7-3c-.3-.5-1-1-2-1s-6.3-.5-7 .2-4.5 13-4.6 13.4-1.2.1-1.6-.1c-.5-.2 2.3-9 2.4-9.4s-.5-2.4-1.1-2.8c-.6-.5-9.2-.8-9.7-.4-.6.4-4.4 11.9-4.6 12.3-.2.4-3-.3-3.4-.4-.5-.1-2 .5-2.3.9-.3.5-2.1 5.1-2.1 5.7 0 .6 0 2 .6 2.4s3.7.1 4 .3-.2 1.6-.4 2.1c-.2.6-.2.1-.8.1s-4.5-.3-4.8-.2-2.9 5.8-3 6.2 1.2 2.8 1.4 3 4-.3 4.5.3-3.2 8.7-3.3 9.3c-.2.6.8 2.6 1.1 2.8s1.2 0 1.8 0 7.5.3 8.2.1c.7-.3 5.1-12.6 5.4-12.9.3-.4 1.3-.1 1.5.2s-3.7 9.1-3.8 9.5.5 2.1.8 2.3 8.7.2 9.8 0 5.1-12.2 5.2-12.5 3.7-.2 4.1-.3 3-4.2 3-4.4-.5-2.5-.8-2.8-5.6-.3-6-.5.6-2.4 1-2.8 5.2.2 6.2-.1c1-.2 2.3-5.9 2.3-5.9s-.7-1.1-1.3-1.3zm-2.2 5c-.5 0-4.9-.6-5.3-.3-.3.3-1.7 3.8-1.9 4.5-.1.7.1 1.7.7 1.8.5.1 3.7.1 4.3.2h1s-1 3.1-1.1 2.7c-.1-.4-1-2-1.4-1.9-.3 0-.6.3-.5.5s1.4 1.9 1.3 2.3-.4 1-.6.8-2.1-3.5-2.3-3.5-.7.3-.5.5 1.8 3 1.7 3c-.1 0-.5.3-.6 0s-2.2-3.7-2.4-3.8-.6-.1-.4.4c.2.4 2.1 3.4 1.9 3.4-.1 0-.8.3-1.1 0-.2-.4-2.4-4-2.7-4-.3 0-.7.1-.5.5s2.4 3.4 2.2 3.4c-.2.1-.8.2-.8.2s0 .5-.1.3-2.9-4.5-3-4.4-.6.7-.4.9c.2.1 3.1 4.2 3.1 4.3s-.5 2.2-.7 1.8c-.2-.3-3-4.6-3.2-4.7-.2 0-.6.6-.4.8s3.2 4.5 3.2 4.7-.3 2-.6 1.5-2.9-4.9-3.1-4.6-.4.8-.3 1 3 4.2 3 4.5-.1 1.3-.2 1.2c-.1-.2-3.1-4.3-3.3-4.3s-.6.5-.5.7c.2.2 3.4 4.2 3.4 4.6 0 .3-.3 1.7-.5 1.5s-2.7-3.8-3-3.8-.6.2-.4.6c.2.4 2.8 3.5 2.8 4.1s-.1 1.2-.4 1.2-.6.3-.8.1-2.6-3.8-2.8-3.8c-.2-.1-.5.1-.4.3 0 .2 2.9 3.8 2.4 3.8s-1 .1-1.2 0-1.8-2.9-2.1-2.8c-.3.1-.8.3-.5.7.3.3 2 2.2 1.6 2.2s-3.2.1-3.2-.2 3.8-10.1 4.1-11c.2-.9 0-1.3-.4-1.4s-4.1-.4-4.3-.3c-.3 0-1 2.5-1.1 2.5-.1-.1-2.8-4.4-3.1-4.5-.3-.1-.7.4-.6.7.2.2 3.2 4.9 3.1 5.2s-.5 1.3-.6.9c-.1-.4-2.8-4.9-3.1-4.8-.3.1-.5.4-.3.8s3.1 4.7 3.2 5 .1 1.8-.2 1.1c-.3-.7-3-5.2-3.3-5.2s-.6.2-.4.8 3.6 5.2 3.6 5.3-.3 1.3-.4 1.1-3.8-5.7-4.1-5.4c-.3.3-.4.5-.3 1 .1.4 3.9 4.7 3.8 5.2 0 .5-.1 1.7-.4 1.5s-3.6-5.6-3.9-5.5-.7.6-.6.7c.1.2 4.1 5.5 4.1 5.8 0 .2-.2 1-.5.9s-4-5.2-4.2-5.1c-.2.1-.3.8-.3.9.1.1 3.7 4.4 3.6 4.5s-.9.2-1.2.1-3.1-3.7-3.2-3.7-.8.6-.6.8c.2.3 2.3 2.6 2.1 2.7-.2 0-1.2 0-1.3-.2s-1.5-2.4-1.7-2.1c-.3.3-.5.3-.3.6s1.3 1.3 1 1.4c-.3.1-2.6.4-2.6.2s3.5-9.4 3.8-10.3c.3-.9.6-1.6-.1-1.6-.6 0-6.1.1-6-.5.2-.5 1.3-5 1.9-5s5.2.5 5.8.1c.6-.4 1.3-3.5 1.4-4.5s.2-1.3-.1-1.5c-.3-.2-3.2-.3-3.8-.3-.6 0-1.1.1-1.1-.1s1.6-4.7 2-4.9c.3-.2 4.1.3 4.8.3.6 0 1-1.4 1.8-3.5s3-8.9 3.3-8.9c.5-.1 7.8.4 7.9.5.2.1-1.5 6.6-2.1 8.2s-1 3.7-.7 4 2.1.4 2.7.5 2.1.3 2.6-.8 4-12.6 4.3-12.9c.2-.3 6-.2 6.3-.1.4.1.2 1.5.2 1.7s-4.2 11.2-3.6 11.8 2.9.6 3.4.6c.4 0 1.8-.1 1.9.3.1 0-1 3.5-1.6 3.5zm-15.8.3c-.7-.1-2-.1-2.3.2-.3.4-1.7 4.6-1.5 5.1s3.8.6 4.4.6c.6-.1 1.4-4.2 1.7-4.9.3-.8-1.6-.9-2.3-1zm.2 4.7c-.3 0-1.6.1-1.7-.1s.8-2.7.8-2.7c.2-.1 1.4.1 1.5.3.2.2-.3 2.5-.6 2.5zm-6.7 5.4c.1-.3-.9-2.3-1-2.4-.2-.1-.7-.2-.7.1s1.3 2.7 1.6 2.9c.2.1 0-.3.1-.6zm-8.6-14.6c-.6-.1-1.4 2.4-1.2 2.7.2.2.1.5.6.4.6-.1.7-1.3.7-1.8.1-.5 2.8.3 3.2.3.3 0 .4-.4.5-.9s-3.1-.6-3.8-.7zm13.5-10.8c.4 0 .4-.7.2-1-.2-.4-2.9-.3-3.2-.3-.3 0-2.2 5.9-2.1 6.2 0 .2.6.4.9.3.4-.1 1.4-4.7 1.5-5.2.1-.5 2.3-.1 2.7 0zm10.9-1.6c-.3.2-1.4 4.3-1.2 4.6.1.2.5.1.8 0s.9-3 .9-3.4c.1-.4 1-.2 1.3-.3s.3-.6.1-.7c-.2-.2-1.6-.3-1.9-.2z"/>
        </svg>
      </span>{{key[nbReponse]['theme']}}
    </p>

    <p class='OpenSans' style='color:#00445b;'>
      <span class="date">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="30" height="30">
          <path d="M27.96 1.375h-.682V1a1 1 0 1 0-2 0v.375h-1.837V1a1 1 0 0 0-2 0v.375h-1.837V1a1 1 0 1 0-2 0v.375h-1.837V1a1 1 0 0 0-2 0v.375H11.93V1a1 1 0 0 0-2 0v.375H8.094V1a1 1 0 0 0-2 0v.375h-.682A4.731 4.731 0 0 0 .687 6.101v22.547a4.733 4.733 0 0 0 4.727 4.727H27.96a4.733 4.733 0 0 0 4.728-4.727V6.101a4.733 4.733 0 0 0-4.728-4.726zM25.78 1a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm-3.837 0a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zM6.595 1a.5.5 0 0 1 1 0v6.482a.5.5 0 0 1-1 0V1zm23.684 27.648a2.32 2.32 0 0 1-2.318 2.317H5.414a2.32 2.32 0 0 1-2.318-2.317V6.101a2.32 2.32 0 0 1 2.318-2.318h.682v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.561 1.561 0 0 0 3.121 0c0-.478-.222-.9-.561-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.12 0c0-.478-.221-.9-.56-1.187V3.783h1.837v2.513a1.55 1.55 0 0 0-.56 1.187 1.56 1.56 0 0 0 3.121 0c0-.478-.221-.9-.561-1.187V3.783h.682a2.32 2.32 0 0 1 2.317 2.318l-.001 22.547z"/>
          <path d="M11.322 13.089h4.596v4.089h-4.596zM17.458 13.089h4.595v4.089h-4.595zM23.591 13.089h4.596v4.089h-4.596zM5.187 18.547h4.596v4.086H5.187zM11.322 18.547h4.596v4.086h-4.596zM17.458 18.547h4.595v4.086h-4.595zM23.591 18.547h4.596v4.086h-4.596zM5.187 24.003h4.596v4.086H5.187zM11.322 24.003h4.596v4.086h-4.596zM17.458 24.003h4.595v4.086h-4.595z"/>
        </svg>
      </span>
     <span><img class="pays" style="margin-top:-7px" src="/images/static/pays/{{ key[nbReponse]['pays'] }}.png"
                alt="{{ key[nbReponse]['pays']|capitalize }}" />
     </span>

     <span>{{ key[nbReponse]['date'] | localizeddate('full', 'short', key[nbReponse]['timezoneCode'] )|capitalize }}</span>
    </p>

    <p class='OpenSans' style='color:#00445b;'>
     <span class="montre">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 380" width="30" height="30">
          <path d="M190 0C85.232 0 0 85.234 0 190s85.232 190 190 190c104.767 0 190-85.232 190-190C380 85.233 294.767 0 190 0zm79.9 316.893l-8.188-14.084a5.322 5.322 0 0 0-4.587-2.635 5.2 5.2 0 0 0-2.648.719 5.254 5.254 0 0 0-2.458 3.222 5.28 5.28 0 0 0 .542 4.017l8.199 14.102a148.923 148.923 0 0 1-60.76 17.43V319.77c0-5.521-4.479-10-10-10-5.522 0-10 4.479-10 10v19.891a148.887 148.887 0 0 1-59.949-17.002l8.111-14.149a5.258 5.258 0 0 0 .517-4.018 5.257 5.257 0 0 0-2.475-3.205 5.212 5.212 0 0 0-2.624-.704 5.321 5.321 0 0 0-4.603 2.663l-8.102 14.133a151.212 151.212 0 0 1-45.447-43.908l17.188-9.923c4.782-2.761 6.421-8.877 3.659-13.66-2.761-4.781-8.877-6.421-13.659-3.658l-17.212 9.937c-9.056-18.349-14.466-38.8-15.284-60.41l16.33-.05a5.256 5.256 0 0 0 3.737-1.561 5.259 5.259 0 0 0 1.538-3.748 5.303 5.303 0 0 0-5.293-5.277l-16.348.05c.699-21.949 6.136-42.72 15.319-61.327l17.212 9.937a9.996 9.996 0 0 0 13.659-3.66c2.762-4.783 1.123-10.899-3.659-13.66l-17.188-9.923a151.174 151.174 0 0 1 44.671-43.424l8.188 14.084a5.228 5.228 0 0 0 1.935 1.929 5.344 5.344 0 0 0 5.299-.013 5.255 5.255 0 0 0 2.458-3.223 5.256 5.256 0 0 0-.541-4.013l-8.198-14.102a148.905 148.905 0 0 1 60.76-17.43v19.889c0 5.522 4.478 10 10 10 5.521 0 10-4.478 10-10V40.346a148.882 148.882 0 0 1 59.947 17.001l-8.111 14.149a5.3 5.3 0 0 0 4.583 7.927c1.897 0 3.66-1.02 4.6-2.661l8.104-14.135a151.187 151.187 0 0 1 45.449 43.909l-17.188 9.923c-4.783 2.761-6.421 8.877-3.659 13.66a9.998 9.998 0 0 0 13.659 3.66l17.212-9.938c9.058 18.348 14.466 38.8 15.284 60.41l-16.33.05a5.248 5.248 0 0 0-3.735 1.561 5.257 5.257 0 0 0-1.538 3.747 5.315 5.315 0 0 0 2.668 4.583 5.274 5.274 0 0 0 2.623.693h.017l16.333-.05c-.699 21.949-6.136 42.721-15.319 61.327l-17.212-9.938c-4.784-2.762-10.896-1.122-13.659 3.66-2.762 4.782-1.124 10.898 3.659 13.659l17.188 9.923a151.255 151.255 0 0 1-44.674 43.427z"/>
          <path d="M263.906 135.775l-64.142 35.588a20.941 20.941 0 0 0-9.767-2.412c-3.528 0-6.846.878-9.766 2.412l-64.141-35.588c-6.064-3.366-13.711-1.176-17.078 4.889-3.364 6.065-1.176 13.711 4.891 17.077l65.443 36.311c1.891 9.686 10.412 16.997 20.65 16.997s18.76-7.312 20.65-16.997l65.441-36.311c6.066-3.365 8.254-11.011 4.891-17.077-3.36-6.066-11.005-8.255-17.072-4.889z"/>
      </svg>
     </span>
      <span>{{ key[nbReponse]['duree']}}</span>
    </p>

  </div>
  </div>
 </div>
 <div id="abonnement-{{nbReponse}}"></div>
 {% endfor %}
 {% endfor %}
{% endif %}

<script type="text/javascript">
jQuery(function($)
    {   let mots = document.getElementById('mots').value.split(' ');
        mots.forEach(function(element) {$("[id^='titre'], [id^='theme']").highlight(element);});
    });

$('.callout-footer').slideUp();
$('.svg-details').click(function()
  {
    let tempo=$(this).data('callout');
    $("."+tempo).slideToggle(1000);
  });

$('.svg-ajouter').click(
        function()
            {
              let tempo=$(this).data('numconference');
              if ($(".panier-"+tempo).hasClass('svg-ajouter-ok')==false)
              {
                let data={id: $("#ajouter-"+tempo).data('id')};
                $.ajax({
                      type: 'POST',
                      url: "{{ path('abonnementConference') }}",
                      data: data,
                      dataType: 'json',
                      timeout: 3000,
                      success: function(response)
                        {
                          $("#abonnement-"+tempo).html(
                              '<div class="grid-container grid-container-padded">\
                                <div class="'+ response.statut +' callout grid-x" data-closable="slide-out-right">\
                                  <p style="color:#00445b;" class="OpenSans cell">\
                                    <span class="sourire">\
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">\
                                          <path d="M1015 689q13 22 7 48t-29 40q-146 88-348 88-89 0-173-17-148-29-268.5-99.5T12 579Q-4 557 .5 531.5T27 489q22-16 47-11.5t42 26.5q56 78 157 136t224 82q120 24 234.5 9.5T927 668q22-14 48.5-7.5T1015 689zM332 380q-45-9-71-47.5T244 249t48-71 84-17 71 47.5 17 83.5-48 71-84 17zm447 88q-45-9-71-48t-17-84 47.5-70.5T822 249t71 47.5 17 83.5-47.5 71-83.5 17z"/>\
                                        </svg>\
                                   </span>\
                                    &nbsp;'+response.message+'</p>\
                                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                                </div>\
                              </div>'
                          ).show("slow");
                          if (response.statut != 'alert')
                          {
                           let panier=$("#panier").data('panier') + 1;
                           $("#panier").data('panier', panier);
                           $("#panier").html("<span data-panier='"+panier+"'>"+panier+"</span>");
                         }
                       },
                      error: function()
                        {
                          $('#resultat').html(
                              '<br />\
                              <div class="grid-container grid-container-padded">\
                                <div class="alert callout grid-x" data-closable="slide-out-right">\
                                  <p style="color:#e03522;" class="OpenSans cell">Ooups ! Je n\'ai pas réussi à ajouter la conférence.</p>\
                                  <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
                                </div>\
                              </div>'
                          ).show("slow");}
                        });
              }
              $(".panier-"+tempo).addClass('svg-ajouter-ok');
              $("#ajouter-"+tempo).css('color', 'grey');
            }
         );
</script>