{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Conference | Afficher' %}
{% set description = 'Mes conférences.' %}
<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig')}}
    {% stylesheets
       '@TorahCastBundle/Resources/public/css/app-breadcrumbs.css'
       '@TorahCastBundle/Resources/public/css/app-afficher.css'
        output='/css/afficher.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>

{# Chargement de la barre de menu #}
<section>{{ include('::navbar_admin.html.twig') }}</section>

{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl" style="padding-right: 1rem;">ב''ה</div></div>
</header>
<header class="grid-x" role="banner">
  <div class="cell" style="text-align:center">
    <h3>Mes conférences.</h3>
  </div>
</header>

<nav aria-label="Vous êtes ici:" role="navigation">
 <ul class="breadcrumbs">
    <li><a href="{{ path('menu') }}" style="font-family: pDensiaSans;">{% trans from "TorahCastBundle" %}menu.ariane.ariane0{% endtrans %}</a></li>
    <li class="current" style="font-family: pDensiaSans;"><span class="show-for-sr">Page :</span>{% trans from "TorahCastBundle" %}menu.ariane.afficher{% endtrans %}</li>
 </ul>
</nav>

<p class="OpenSans" style="font-size:1rem; color:rosybrown; padding-left: 0.5rem;">Mise à jour le 01/05/2018</p>

<div class="grid-container grid-container-padded">
{%if count==0%}
  <br />
  <div class="grid-container grid-container-padded">
    <div class="alert callout grid-x" data-closable="slide-out-right">
      <p style="color:#e03522;" class="OpenSans cell">Ooups ! Vous n'avez pas encore de conférence.</p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
{%endif%}

{%if count>0%}
 {%for ii in data%}
  <div class="card-info
       {%if ii.etat=="PROGRAMME"%} primary {%endif%}
       {%if ii.etat=="ANNULE"%} alert {%endif%}
       {%if ii.etat=="REPORTE"%} warning {%endif%}">

  <div class="card-info-label">
    <div class="card-info-label-text">
       {%if ii.etat=="PROGRAMME"%} OK {%endif%}
       {%if ii.etat=="ANNULE"%} KO {%endif%}
       {%if ii.etat=="REPORTE"%} VOIR {%endif%}
    </div>
  </div>
  <div class="card-info-content">
    <h3 class="lead">{{ii.titre}}</h3>
    <span><img class="pays" src="/images/static/pays/{{pays}}.png" alt="{{pays|capitalize}}" /></span>
    <span class="OpenSans">{{ii.date|localizeddate('full', 'short', timezoneCode )|capitalize }}</span>
    <p class='OpenSans'>Thème : {{ii.theme}}, intervenant: {{ii.intervenant}}
    {%if ii.langue=="fr" %}
    <span class='fr'>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
        <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM267 212q-71 0-102 46t-31 150v410h101V606h231V456H235v-42q0-32 7.5-42.5T271 361h195V212H267zm248 0v606h101V361h125q15 0 22 8t7 24v36q0 16-7 23t-22 7h-88v143h79q12 0 20 15t12 42l21 159h108l-31-203q-6-41-15-58t-26-25q27-10 39-36 12-25 12-73v-68q0-72-32.5-107.5T741 212H515z"/>
      </svg>
    </span>
    {%endif%}
    {%if ii.langue=="en" %}
      <span class='en'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-19-30-36.5-72.5t-29-87.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zm69 202q-51 0-82 48-31 47-31 125v451h90V412q0-25 6.5-39t16.5-14q12 0 19 14t11 45l32 267q10 78 38.5 117.5T772 842q51 0 82-47 31-48 31-126V218h-91v421q0 24-6 38t-16 14q-12 0-19-13.5T742 634l-33-269q-9-78-37.5-117.5T596 208zm-352 10q-64 0-92 47t-28 153v215q0 106 28 153 28 46 92 46h179V683H248q-20 0-26.5-10t-6.5-41v-35h208V448H215v-29q0-31 7-41 6-10 26-10h175V218H244z"/>
        </svg>
      </span>
    {%endif%}
    {%if ii.langue=="he" %}
      <span class='he'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20">
          <path d="M527 6q112 3 233.5 70T943 235q30 46 53.5 117.5T1024 478q8 122-59.5 255.5T794 934l-6 4q-46 29-116.5 51.5T546 1016q-124 8-260-59.5T83 785q-30-45-53-115.5T3 545q-8-123 60.5-257T236 87q47-29 118.5-52.5T481 7q23-2 46-1zM126 218v614h101V588h170v244h101V218H397v219H227V218H126zm569 0q-71 0-102 47t-31 153v215q0 106 31 153 31 46 102 46h200V683H700q-22 0-29-10t-7-41v-35h231V448H664v-29q0-31 7-41t29-10h195V218H695z"/>
        </svg>
      </span>
    {%endif%}
    <p class='OpenSans'>Public : {{ii.participant|capitalize}} Durée : {{ii.duree}}</p>
    <a href='{{ii.zoomUsJoinUrl}}'><button class="button"> Rejoindre la conférence.</button></a>
  </div>
</div>

 {%endfor%}

{%endif%}
</div>

{#********** Revenir en haut de page ***************#}
<div class="pageUP"></div>
<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>

{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>