{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Conference | Rechercher' %}
{% set description = 'Rechercher une conférence.' %}
<!DOCTYPE html>
<html class="no-js" lang="fr" prefix="og: http://ogp.me/ns#">

{# Chargement de la section HEAD #}
<head>
    {{ include('::head.html.twig')}}
    {% stylesheets
       '@TorahCastBundle/Resources/public/css/app-breadcrumbs.css'
       '@TorahCastBundle/Resources/public/css/app-afficher.css'
        output='/css/afficher.css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
</head>

<body>

{# Chargement de la barre de menu #}
<section>{{ include('::navbar_admin.html.twig') }}</section>

{# //////////////// Header principale de la page ////////////////////////////////// #}
<header id="Logo" class="grid-x" role="banner">
 <div class="bh cell"><div lang="he" dir="rtl" style="padding-right: 1rem;">ב''ה</div></div>
</header>
<header class="grid-x" role="banner">
  <div class="cell" style="text-align:center">
    <h3>Rechercher une conférence.</h3>
  </div>
</header>

<nav aria-label="Vous êtes ici:" role="navigation">
 <ul class="breadcrumbs">
    <li><a href="{{ path('menu') }}" style="font-family: pDensiaSans;">{% trans from "TorahCastBundle" %}menu.ariane.ariane0{% endtrans %}</a></li>
    <li class="current" style="font-family: pDensiaSans;"><span class="show-for-sr">Page :</span>{% trans from "TorahCastBundle" %}menu.ariane.rechercher{% endtrans %}</li>
 </ul>
</nav>

<p class="OpenSans" style="font-size:1rem; color:rosybrown; padding-left: 0.5rem;">Mise à jour le 16/03/2018</p>

<div class="grid-container grid-container-padded">
  <span class="OpenSans cesure text-justify">
    Affiche les 10 prochaines conférences en fonction des mots saisis où les 20 prochaines conférences, <br />
    en tapant le caractère <span style="color:red; font-size: 1.5rem; padding-top:1rem;">&nbsp;*&nbsp;</span>
  </span>
</div>

<div class="grid-container grid-container-padded" style="background-color: #00445b;">
  <br />
  <div class="grid-x grid-margin-x" style="margin-left:1rem;">
    <div class="small-7 medium-8 large-10 cell">
      <input type="search" placeholder="Entrez un ou plusieurs mots..." id="mots">
    </div>
   <div class="auto cell">
    <a id="rechercher" href="#"
       class="button"
       onclick="rechercher(document.getElementById('mots').value);">
      <span class="rechercher" style="fill:#eee; padding-right: 0.2rem; padding-bottom: 0.5rem;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="16px" height="16px" style="margin-bottom: -0.1rem;">
          <path d="M20.194 3.46c-4.613-4.613-12.121-4.613-16.734 0-4.612 4.614-4.612 12.121 0 16.735 4.108 4.107 10.506 4.547 15.116 1.34.097.459.319.897.676 1.254l6.718 6.718a2.498 2.498 0 0 0 3.535 0 2.496 2.496 0 0 0 0-3.535l-6.718-6.72a2.5 2.5 0 0 0-1.253-.674c3.209-4.611 2.769-11.008-1.34-15.118zm-2.121 14.614c-3.444 3.444-9.049 3.444-12.492 0-3.442-3.444-3.442-9.048 0-12.492 3.443-3.443 9.048-3.443 12.492 0 3.444 3.444 3.444 9.048 0 12.492z"/>
        </svg>
      </span>
        <span class="show-for-medium">Rechercher</span>
    </a>
   </div>
  </div>
</div>

<div class="grid-container grid-container-padded">
 <div id="resultat"></div>
</div>


{#********** Revenir en haut de page ***************#}
<div class="pageUP"></div>
<footer class="grid-y grid-padding-x grid-frame">
  <div class="cell auto"></div>
  {{ include('::footer.html.twig') }}
</footer>

{% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
(function($)
    {
     function highlight($el, word) {
        var text = $el.html();
        text = text.replace(new RegExp('('+word+')','gi'), '<span style="background-color:#ffffb2;">$1</span>');
        $el.html(text);
        }
    $.fn.highlight = function(word) {return this.each(function() {highlight($(this), word);});};
}(jQuery));

function goTo ()
{
 var the_id = $(this).attr("resultat");
 $('html, body').animate({scrollTop:$(the_id).offset().top}, 'slow');
};

$("#mots").keyup(function (e) {
  if (e.which == 13) {
   if (document.getElementById('mots').value!=="") {rechercher(document.getElementById('mots').value);}
    else {
         goTo();
         $('#resultat').html(
         '<br />\
           <div class="grid-container grid-container-padded">\
            <div class="alert callout grid-x" data-closable="slide-out-right">\
            <p style="color:#e03522;" class="OpenSans cell">Ooups ! Tu dois saisir au moins un mot.</p>\
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
           </div>\
          </div>'
         ).show("slow"); }
  }
 });


function rechercher(mots)
{
 let data = {mots: mots};
 if (mots=="")
    {
    goTo();
    $('#resultat').html(
         '<br />\
           <div class="grid-container grid-container-padded">\
            <div class="alert callout grid-x" data-closable="slide-out-right">\
            <p style="color:#e03522;" class="OpenSans cell">Ooups ! Tu dois saisir au moins un mot.</p>\
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button>\
           </div>\
          </div>'
         ).show("slow");
    }
 else
    {
     $.ajax({
              type: 'GET',
              url: "{{ path('Rechercher') }}",
              data: data,
              dataType: 'json',
              timeout: 3000,
              success: function(response) {goTo(); $('#resultat').html(response);},
              error: function(){}
          });
   };
};


</script>

</body>
</html>