{#
/*
 * Copyright 2018 Laurent HADJADJ <laurent.HADJADJ@lilmod-lelemaed.fr>.
 *
 * Licensed Crative Common 4.0 - CC-BY-SA
 * Vous pouvez otenir une copie de la licence à l'adresse suivante :
 *
 *      http://creativecommons.org/licenses/by-sa/4.0/
 *
 * TorahCast de Lilmod & Lelamed
 * est mis à disposition selon les termes de la licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International.
 * Fondé(e) sur une œuvre disppnble à l'adresse : https://bitbucket.org/laurent_h/torahcast/.
 */
#}
{% set page_title = 'Consulter|s\'inscrire' %}
{% set description = 'Consulter et s\'incrire à une conférence' %}
<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns#">
    {# Chargement de la section HEAD #}
    <head>
        {{ include('::head.html.twig') }}
        {% stylesheets
      '@TorahCastBundle/Resources/public/css/app-breadcrumbs.css'
      '@TorahCastBundle/Resources/public/css/app-menu.css'
       output='/css/menu.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen, print" />
        {% endstylesheets %}
    </head>

    <body>
        {# Chargement de la barre de menu #}
        <section>{{ include('::navbar_admin.html.twig') }}</section>

        {# //////////////// Header principale de la page ////////////////////////////////// #}
        <header id="Logo" class="grid-x" role="banner">
            <div class="bh cell"><div lang="he" dir="rtl">ב''ה</div></div>
        </header>
        <header class="grid-x" role="banner">
            <div class="cell" style="text-align:center">
                <h3>Portail d'accès à l'application TorahCast.</h3>
            </div>
        </header>
        <nav aria-label="Vous êtes ici:" role="navigation">
            <ul class="breadcrumbs">
                <li class="current" style="font-family: pDensiaSans;"><span class="show-for-sr">Page :</span>{% trans from "TorahCastBundle" %}menu.ariane.ariane0{% endtrans %}</li>
            </ul>
        </nav>

        <p class="OpenSans" style="font-size:1rem; color:rosybrown; padding-left: 0.5rem;">Mise à jour le 09/04/2018</p>


        <article class="grid-container grid-container-padded grid-x">
          <div class="callout cell" data-closable="slide-out-right">
            <p style="color:#00445b;" class="OpenSans cell">
              {{ 'menu.role'|trans({}, 'TorahCastBundle') }}
              {% for role in app.user.roles %}
                {% if role =="ROLE_PARTICIPANT" %}
                <span style="color:green; font-weight: 800; font-variant: small-caps;">{{ 'menu.participant'|trans({}, 'TorahCastBundle') }}</span>.
                {%endif%}
                {% if role == "ROLE_INTERVENANT" %}
                <span style="color:red; font-weight: 800; font-variant: small-caps;">{{ 'menu.intervenant'|trans({}, 'TorahCastBundle') }}</span>.
                {%endif%}
                {% if role == "ROLE_ADMIN" %}
                <span style="color:black; font-weight: 800; font-variant: small-caps;">{{ 'menu.administrateur'|trans({}, 'TorahCastBundle') }}</span>.
                {%endif%}

              {% endfor %}
            </p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <div class="text-center small-12 medium-6 large-5 cell">
             {% image '@TorahCastBundle/Resources/public/images/menu/alphabet-320x156.jpg' output="images/menu/alphabet.jpg"%}
              <figure class="large-4 cell"><img src="{{ asset_url }}" alt="Alphabet"/></figure>
             {% endimage %}
              <br />
              {% if is_granted('ROLE_INTERVENANT') %}
              <div class="grid-container grid-container-padded">
                <a href="{{ path('ajouterConference') }}" rel="menu" >
                  <button id="planifier"
                        type="button"
                        class="button large expanded"
                        href="{{ path('home') }}"
                        >Planifier une conférence
                </button>
                </a>
                <a href="{{ path('afficherConference') }}" rel="menu" >
                  <button id="modifier"
                        type="button"
                        class="button large expanded"
                        href="{{ path('home') }}"
                        >Afficher mes conférences
                </button>
                </a>
              </div>
              {% endif %}
            </div>
            <div class="medium-6 large-7 cell">
              <div class="show-for-small-only"><br /></div>
              <div class="grid-container grid-container-padded">
                <a href="{{ path('rechercherConference') }}" rel="menu" >
                 <button id="rechercher" type="button" class="button large expanded">Rechercher une conférence</button>
                </a>
                <a href="{{ path('afficherMesConferences') }}" rel="menu" >
                   <button id="lister" type="button" class="button large expanded">Mes conférences</button>
                </a>
              </div>
            </div>
        </article>

        <article class="grid-container grid-container-padded">
         <div class="orbit" role="region" aria-label="Sponsors" data-orbit data-options="data-timer-delay=100" data-use-m-u-i="true">
          <div class="orbit-wrapper">
            <div class="orbit-controls">
              <button class="orbit-previous" aria-label="previous" tabindex="0"><span class="show-for-sr">Précédent</span>&#9664;</button>
              <button class="orbit-next" aria-label="next" tabindex="0"><span class="show-for-sr">Suivant</span>&#9654;</button>
            </div>

              <ul class="orbit-container" tabindex="1" style="height: 233.6px;">
                  <li class="orbit-slide" data-slide="1" style="display: none; position: relative; top: 0px;">
                   <div class="docs-example-orbit-slide">
                     <p>Avec la participation du <strong>Beith Loubavich de France</strong></p>
                   </div>
                  </li>
                  <li class="orbit-slide is-active" data-slide="2" style="position: relative; top: 0px; display: none;">
                    <div class="docs-example-orbit-slide">
                      <p>Pour le mérite de <strong>Myriam</strong> et <strong>Yossef NATAF</strong> </p>
                    </div>
                  </li>
                  <li class="orbit-slide" data-slide="3" style="position: relative; top: 0px; display: block;" aria-live="polite">
                    <div class="docs-example-orbit-slide">
                      <p>Pour la réfoua de <strong>Elyaou</strong> ben <strong>David</strong> </p>
                    </div>
                  </li>
                  <li class="orbit-slide" data-slide="4" style="position: relative; top: 0px; display: none;">
                    <div class="docs-example-orbit-slide">
                      <p>Pour le mérite de <strong>Myriam</strong> et <strong>Yossef NATAF</strong> </p>
                    </div>
                  </li>
              </ul>
          </div>
          <nav class="orbit-bullets">
            <button data-slide="1"><span class="show-for-sr">First slide details.</span></button>
            <button class="is-active" data-slide="2"><span class="show-for-sr">Second slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="3"><span class="show-for-sr">Third slide details.</span></button>
            <button data-slide="4"><span class="show-for-sr">Fourth slide details.</span></button>
          </nav>
          <br />
        </div>
      </article>
      <br /><br /> <br /><br />

     {#********** Revenir en haut de page ***************#}
     <div class="pageUP"></div>

     {# Chargement de la section footer #}
      <footer class="grid-y grid-padding-x grid-frame">
        <div class="cell auto"></div>
        {{ include('::footer.html.twig') }}
      </footer>

    {% javascripts
    '@TorahCastBundle/Resources/public/js/vendor/jquery.js'
    '@TorahCastBundle/Resources/public/js/foundation/foundation.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/motion-ui.min.js'
    '@TorahCastBundle/Resources/public/js/foundation/what-input.js'
    '@TorahCastBundle/Resources/public/js/app.js'
    '@TorahCastBundle/Resources/public/js/page.js'
    output='/js/common.js'
   %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}

    </body>
</html>